.button {
  &--round {
    $button-round-size: responsive-value(
      74px,
      114px,
      $breakpoint-small,
      $fhd-width
    );
    $button-round-size-s: 90px;

    display: block;
    color: $color-accent;
    font-size: responsive-value(10px, 14px, $breakpoint-small, $fhd-width);
    border: 1px rgba($color-accent-2, 0.4) solid;
    border-radius: 50%;
    text-align: center;
    transition: all var(--transition);
    margin: 0 auto;

    width: $button-round-size-s;
    height: $button-round-size-s;
    line-height: $button-round-size-s;

    @media (min-width: $breakpoint-small) {
      width: $button-round-size;
      height: $button-round-size;
      line-height: $button-round-size;
    }

    @include animation-hovering;

    &:hover {
      border-color: transparent;
      background-color: $color-accent;
      color: $color-white;
    }
  }

  &--scrolldown {
    $button-size: 64px;

    display: block;
    width: $button-size;
    height: $button-size;
    line-height: $button-size;

    border: 1px solid rgba($color-accent, 0.6);
    border-radius: 50%;

    @include animation-hovering;

    & svg {
      transition: all var(--transition);
      height: 33px;
      width: 33px;
    }

    &:hover {
      background-color: $color-accent;

      & svg {
        stroke: $color-white;
      }
    }
  }
}
