.offcanvas {
  &__wrap {
    // background: #fff;
    // opacity: 0;
    transition: all var(--transition);
  }
  &__button {
    position: fixed;
    right: 16px;
    top: 16px;
    width: 40px;
    height: 40px;
    z-index: 100;

    @media (min-width: $breakpoint-small) {
      display: none;
    }

    & svg {
      width: 100%;
      height: 100%;
    }

    &-path {
      fill: none;
      stroke: $color-accent;
      stroke-width: 2;
      transition: stroke var(--transition);

      .page--index:not(.fp-viewing-bottom) &,
      .offcanvas__button--invert & {
        stroke: $color-white;
      }
    }
    &-circle {
      opacity: 0.6;
      fill: none;
      stroke: $color-accent;
      transition: stroke var(--transition);

      .page--index:not(.fp-viewing-bottom) &,
      .offcanvas__button--invert & {
        stroke: $color-white;
      }
    }
  }

  &__bar {
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: percent-view(54px, $mobile-min-height, 'h');
    opacity: 0;
    scale: 0.9;
    transform-origin: center top;
    transition: all var(--transition);
    background: transparent;

    .uk-open > & {
      opacity: 1;
      scale: 1;
    }
  }

  &__logo {
    flex: 0 0 auto;

    width: 164px;
    height: 60px;
    margin-bottom: percent-view(28px, $mobile-min-height, 'h');

    fill: $color-accent;

    &-path {
      fill: $color-accent;
    }
  }

  &__close {
    flex: 0 0 auto;
    position: static;
    background: none;
    border-radius: 50%;
    -webkit-appearance: none;
    border: none;

    margin-bottom: 16px;

    width: 64px;
    height: 64px;

    & svg {
      width: 100%;
      height: 100%;

      & * {
        stroke: $color-accent;
      }
    }
  }

  &__title {
    @include font-subtitle;
    margin-bottom: percent-view(28px, $mobile-min-height, 'h');
  }

  &__content {
  }

  &__nav {
    &-item {
      font-family: $font-heading;
      font-size: 3.2rem;
      line-height: 1;
      margin-bottom: percent-view(24px, $mobile-min-height, 'h');
      text-align: center;

      & a {
        color: $color-black;

        &:hover,
        &:focus,
        &:active {
          color: $color-accent;
        }
      }
    }
  }

  &__bottom {
    flex: 0 0 auto;

    width: 137px;
  }
}
