.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $color-white;
  transition: opacity var(--transition);
  z-index: 10000;

  &--hidden {
    opacity: 0;
    pointer-events: none;
  }
}
