.section-2 {
  position: relative;
  min-height: 100vh;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $color-time;
    border-radius: percent-view(60px);
    overflow: hidden;
    transition: all var(--transition);

    &--1 {
      background-color: $color-time;
    }

    &--2 {
      background-color: $color-accent;
    }

    &--3 {
      background-color: $color-accent-2;
    }

    & img,
    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: color-dodge;
      // filter: invert(1);
    }
  }

  &__content {
    @include container;

    color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: calc(var(--vh, 1vh) * 100);

    padding-top: percent-view(30px, $breakpoint-medium-max);
    padding-bottom: 40px;

    @media (min-width: $breakpoint-small) {
      padding-top: percent-view(40px);
      padding-bottom: percent-view(40px);

      justify-content: space-between;
    }
  }

  &__bottles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 16vh;

    flex: 3 0 auto;

    @media (min-width: $breakpoint-medium) {
      flex: 1 0 auto;
      margin-bottom: 20px;
    }

    &-item {
      & img {
        transition: all var(--transition);
      }

      &--bottle {
        position: absolute;
        top: 25%;
        z-index: 1;

        @media (min-width: $breakpoint-medium) {
          position: static;
        }

        & img {
          height: responsive-value(
            200px,
            332px,
            $mobile-min-width,
            $breakpoint-small-max
          );

          @media (min-width: $breakpoint-medium) {
            height: responsive-value(
              200px,
              477px,
              $mobile-min-width,
              $fhd-width
            );
          }
        }

        &:hover {
          & img {
            transform: scale(1.07);
          }
        }

        &.time--1 {
          margin-left: -1vw;

          left: 15%;

          @media (min-width: $breakpoint-medium) {
          }
        }
        &.time--3 {
          margin-left: 3vw;

          left: 40%;

          @media (min-width: $breakpoint-medium) {
          }
        }
        &.time--5 {
          left: 65%;
          margin-left: 7vw;

          @media (min-width: $breakpoint-medium) {
            margin-left: 0;
          }
        }
      }
      &--letter {
        & img {
          height: responsive-value(
            138px,
            243px,
            $mobile-min-width,
            $breakpoint-small-max
          );
          opacity: 0.2;

          @media (min-width: $breakpoint-medium) {
            height: responsive-value(
              70px,
              180px,
              $mobile-min-width,
              $fhd-width
            );
          }
        }

        &.time--2 {
          margin-left: 2vw;
        }
      }
    }
  }

  &__button {
    color: $color-white;
    border-color: $color-white;
    animation-play-state: running;

    &:hover {
      background-color: $color-white;
      color: $color-time;
    }
  }

  &__text {
    text-align: center;
    flex: 1 0 auto;
    margin-bottom: responsive-value(7px, 20px);
    @include font-lead;

    display: flex;
    align-items: center;

    @media (min-width: $breakpoint-medium) {
      flex: 0 0 auto;
    }
  }
}
