.sidenav {
  display: none;
  @media (min-width: $breakpoint-small) {
    display: flex;
  }
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: percent-view(44px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: percent-view(25px) 0;
    width: percent-view(56px);

    &-bg {
      position: absolute;
      // height: percent-view(60px);
      width: percent-view(56px);
      transition: all var(--transition);
    }
    &-front {
      height: percent-view(80px);
      z-index: 1;
      transition: all var(--transition);
    }

    &:hover {
      & .sidenav__item-bg {
        transform: scale(0.7);
      }

      & .sidenav__item-front {
        transform: scale(1.2);
      }
    }
  }
}
