.slider {
  &__nav {
    position: absolute;
  }

  &__arrow {
    display: block;
    position: relative;
    outline: none;
    cursor: pointer;

    width: $slide-arrow-width;
    height: $slide-arrow-height;

    transition: all var(--transition);

    &:hover {
      &:before {
        background-color: $color-accent-2;
      }
      & svg {
        fill: $color-accent-2;
      }
    }

    &:before {
      content: '';
      display: block;
      position: relative;
      left: 1px;
      width: 100%;
      top: calc(#{$slide-arrow-height} / 2);
      height: 1px;
      background-color: $color-accent;
    }
    & svg {
      position: absolute;
      left: 0;
      top: 0;
      height: $slide-arrow-height;
      width: $slide-arrow-height;
      fill: $color-accent;
    }

    &--left {
      width: $slide-arrow-width;
      margin-right: 10px;

      &:hover {
        width: calc(#{$slide-arrow-width} * 1.5);

        & + * {
          // shrink right arrow on left hover
          // width: $slide-arrow-width;
        }
      }
    }

    &--right {
      width: $slide-arrow-width;

      &:hover {
        width: calc(#{$slide-arrow-width} * 1.5);
      }

      &:before {
        left: 0;
        right: 2px;
      }
      & svg {
        left: auto;
        right: 0;
      }
    }

    &.swiper-button-disabled {
      width: $slide-arrow-width;
      cursor: default;

      &:hover + * {
        width: calc(#{$slide-arrow-width} * 1.5);
      }

      &:before {
        background-color: rgba($color-black, 0.5);
      }
      & svg {
        fill: rgba($color-black, 0.5);
      }

      &:hover {
        &:before {
          background-color: rgba($color-black, 0.5);
        }
        & svg {
          fill: rgba($color-black, 0.5);
        }
      }
    }
  }
}
