.footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 88px 0 144px;
  border-top: 1px solid $color-accent;

  @include container;

  &__logo {
    margin-bottom: 55px;
  }

  &__menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: percent-view(72px);

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
    }

    &-item {
      flex: 0 0 auto;

      margin-bottom: 46px;

      @media (min-width: $breakpoint-small) {
        margin: 0 percent-view(35px);
      }
    }

    &-link {
      @include font-menu;
      font-family: $font-menu-2;
      font-weight: 900;
      text-transform: uppercase;
      color: rgba($color-black, 0.6);

      &:hover,
      &:focus {
        color: rgba($color-black, 0.9);
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    &-item {
      flex: 0 0 auto;
      margin: 0 responsive-value(11px, 21px);
    }
    &-link {
      opacity: 0.54;

      & svg {
        $social-icon-size: 32px;

        fill: $color-black;
        width: $social-icon-size;
        height: $social-icon-size;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &__copyright {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    color: rgba($color-black, 0.4);

    flex-direction: column;

    @media (min-width: $breakpoint-small) {
      flex-direction: row;
      align-items: flex-start;

      width: calc(#{$column-width} * 6);
    }

    &-item {
      flex: 0 0 50%;
      min-width: calc(#{$column-width} * 2);
      text-align: center;

      @media (min-width: $breakpoint-medium) {
        white-space: nowrap;
      }
    }

    & a {
      color: rgba($color-black, 0.4);

      &:hover,
      &:focus {
        color: rgba($color-black, 0.8);
      }
    }
  }
}
