.header {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;

  position: absolute;
  // top: percent-view(40px);
  // z-index: 10000; // show over offcanvas
  width: 100% !important; // override uk sticky
  z-index: 10; //fix unclickable header on page top

  &__nav {
    @include container;

    display: flex;
    justify-content: center;
    align-items: center;
    // width: calc(#{$column-width} * 6);

    @media (min-width: $breakpoint-medium) {
      justify-content: space-between;
    }

    &-item {
      display: none;
      @include font-menu;
      text-align: center;

      @media (min-width: $breakpoint-small) {
        display: block;
        width: 17.5%;
      }

      &:first-of-type {
        text-align: left;
      }
      &:last-of-type {
        text-align: right;
      }

      .page--index &,
      .page--product & {
        color: $color-white;

        &:hover {
          color: rgba($color-white, 0.8);
        }
      }
      .section--4 & {
        color: $color-accent;

        &:hover {
          color: $color-accent-2;
        }
      }
    }

    &-logo {
      width: responsive-value(205px, 264px);
      height: responsive-value(76px, 96px);
      position: relative;
      margin-top: -1px;
      display: flex;
      justify-content: center;
      flex: 0 0 auto;

      & svg {
        position: absolute;

        transition: all var(--transition);
      }

      &-panel {
        transform: translateY(0%);
        width: 100%;

        &-path {
          fill: $color-accent;

          .page--product & {
            fill: $color-white;
          }
        }

        .page--index & {
          transform: translateY(-100%);

          &-path {
            fill: $color-white;
          }
        }
      }
      &-title {
        transform: translateY(-100%);

        // position: fixed;
        width: 50%;
        height: 100%;

        .page--index & {
          transform: translateY(0%);
        }
      }

      // switch logo on index page
      &--panel {
        & .header__nav-logo-panel {
          transform: translateY(0%);
        }
        & .header__nav-logo-title {
          transform: translateY(-100%);
        }
      }

      // styling for index page
    }
  }
}
