.page {
  @mixin page-lead-bg {
    background: $gradient-1;
    margin-bottom: percent-view(80px);
  }

  &-lead {
    $lead-margin-bottom: responsive-value(
      32px,
      51px,
      $mobile-min-width,
      $fhd-width,
      'w'
    );

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    padding: percent-view(162px) $container-margin $lead-margin-bottom
      $container-margin;
    padding-top: 176px;
    // padding-top: responsive-value(141px,175px,$mobile-min-width,$tablet-width,'w');
    @media (min-width: $breakpoint-medium) {
      display: flex;
      flex-wrap: wrap;

      flex-direction: row;
      // padding-top: responsive-value(140px,162px,$breakpoint-medium-max,$fhd-width,'w');
      padding-top: 162px;
    }

    &--product {
      height: auto;
      min-height: calc(var(--vh, 1vh) * 100);

      margin: 0;
      padding-right: $container-margin;

      @media (min-width: $breakpoint-medium) {
        min-height: 100vh;
      }

      & .page-lead__bg {
        background: $color-black;
        position: absolute;

        &:before {
          @media (min-width: $breakpoint-small) {
            content: '';
            display: block;
            position: absolute;
            background: radial-gradient(
              80vw 60vw at center,
              #0fb1b9 0,
              rgba(5, 7, 11, 0) 80%,
              rgba(5, 7, 11, 0) 100%
            );
            width: 200vw;
            height: 150vw;
            mix-blend-mode: screen;
            opacity: 0.4;
            transform: rotate(30deg);
            bottom: -50vw;
          }
          @media (min-width: $breakpoint-medium) {
            bottom: auto;
          }
        }
      }
      & .page-lead__breadcrumbs * {
        color: rgba($color-white, 0.6);
      }
      & .page-lead__title,
      & .page-lead__description {
        color: $color-white;
      }

      & .page-lead__images {
        // margin-top: -94px;

        @media (min-width: $breakpoint-medium) {
          margin-top: -90px;
        }
      }
      & .page-lead__images-primary {
        flex: 0 0 calc(#{$column-width-small} * 2);

        @media (min-width: $breakpoint-small) {
          flex-basis: calc(#{$column-width-medium} * 4);
        }
        @media (min-width: $breakpoint-medium) {
          flex: 0 0 calc(#{$column-width} * 3);
        }
      }
    }
    &--appliance {
      @include page-lead-bg;

      & .page-lead__content {
        margin-bottom: percent-view(60px);

        @media (min-width: $breakpoint-medium) {
          margin-bottom: 0;
        }
      }

      & .page-lead__bottom {
        @media (min-width: $breakpoint-medium) {
          margin-bottom: calc(#{percent-view(50px)} - #{$lead-margin-bottom});
        }
      }
    }

    &--about {
      padding-bottom: 0;
    }
    &--partners {
    }

    &--company {
      padding-bottom: 0;
    }

    &--news-detail,
    &--content {
      @include page-lead-bg;

      & .page-lead__content {
        margin-bottom: 52px;

        @media (min-width: $breakpoint-medium) {
          margin-bottom: 0;
        }
      }

      & .page-lead__images-primary {
        margin-top: percent-view(52px);
      }
    }

    &--contacts {
      @include page-lead-bg;

      @media (max-width: $breakpoint-small-max) {
        margin-bottom: responsive-value(
          58px,
          69px,
          $mobile-min-width,
          $tablet-width,
          'w'
        );
      }

      @media (min-width: $breakpoint-medium) {
      }

      & .page-lead__content {
        margin-bottom: responsive-value(
          32px,
          40px,
          $mobile-min-width,
          $tablet-width,
          'w'
        );
        @media (min-width: $breakpoint-medium) {
          flex: 0 1 calc(#{$column-width} * 2);
        }
      }
    }

    &__breadcrumbs {
      flex: 0 0 auto;
      width: 100%;
    }

    &__title {
      flex: 0 0 auto;
      // margin-bottom: percent-view(40px, $fhd-width, 'w');

      @media (min-width: $breakpoint-medium) {
        max-width: calc(#{$column-width} * 4);
      }

      @media (min-width: $breakpoint-large) {
      }
    }
    &__bg {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex: 0 0 auto;
      padding-right: $column-margin;

      @media (min-width: $breakpoint-medium) {
        flex: 0 1 50%;
      }

      @media (min-width: $breakpoint-large) {
        flex: 0 1 50%;
      }
    }

    &__description {
      flex: 1 0 auto;
      margin-bottom: percent-view(60px);
      @include font-h2;
      font-weight: 500;

      .page-lead__title + & {
        margin-top: percent-view(28px, $mobile-min-width, 'w');

        @media (min-width: $breakpoint-small) {
          margin-top: 51px;
        }
      }
    }

    &__bottom {
      flex: 0 0 auto;
      border-top: 1px solid rgba($color-red, 0.2);
      padding-top: percent-view(40px);
    }

    &__images {
      flex: 0 0 auto; // to %
      display: flex;
      // align-items: flex-end;
      justify-content: flex-end;
      margin-bottom: calc(#{$lead-margin-bottom} * -1);
      position: relative;

      @media (min-width: $breakpoint-small) {
        max-width: none;
      }
      @media (min-width: $breakpoint-medium) {
        // flex: 0 1 calc(#{$column-width} * 4 - #{$column-margin}); // to %
        flex: 0 0 50%; // to %

        // max-width: calc(#{$column-width} * 4 - #{$column-margin}        ); //prevent wrap
      }

      &-primary {
        flex: 0 0 auto;
        z-index: 1;

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: bottom right;
        }
      }

      &-secondary {
        flex: 0 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        top: responsive-value(
          30px,
          55px,
          $mobile-min-width,
          $tablet-width,
          'w'
        );
        bottom: responsive-value(
          93px,
          147px,
          $mobile-min-width,
          $tablet-width,
          'w'
        );
        z-index: 0;

        @media (min-width: $breakpoint-small) {
        }

        @media (min-width: $breakpoint-medium) {
          top: auto;
          bottom: 100px;
          width: calc(#{$column-width} * 3);
        }

        & img,
        & picture {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: bottom;
        }
      }
    }
    &__image {
      flex: 1 1 auto;
      @media (min-width: $breakpoint-medium) {
        margin-top: percent-view(55px); //compensate breadcrumbs
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
      }
    }

    &__date {
      flex: 1 0 auto;
      .page-lead__title + & {
        margin-top: percent-view(40px);
      }
      margin-bottom: percent-view(40px);
    }
    &__socials {
      flex: 0 0 auto;
      border-top: 1px solid rgba($color-red, 0.2);
      padding-top: 36px;
      margin-top: 40px;
    }

    &__social {
      display: inline-block;
      width: 36px;
      height: 36px;
      @include font-small;
      border: 1px solid $color-black;
      color: $color-black;
      border-radius: 50%;
      text-align: center;
      line-height: 36px;
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 20px;
    }

    &__contacts {
      flex: 1 1 calc(#{$column-width} * 2);
      padding-right: $column-margin;
      margin-bottom: responsive-value(
        43px,
        71px,
        $mobile-min-width,
        $tablet-width,
        'w'
      );

      @media (min-width: $breakpoint-medium) {
        margin-bottom: 0;
      }
    }
    &__map {
      flex: 0 0 auto;

      overflow: hidden;
      margin-bottom: calc(#{$lead-margin-bottom} * -1);

      @media (min-width: $breakpoint-medium) {
        flex: 0 1 46.81%; // calc(#{$column-width} * 4 - #{$column-margin}) in %
        max-width: calc(#{$column-width} * 4 - #{$column-margin});
      }
    }

    &__logo {
      color: #fff;
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      // max-width: calc(#{$column-width-small} * 1.2);
      position: absolute;
      bottom: responsive-value(25px, 100px, $mobile-min-width, $fhd-width, 'w');
      height: percent-view(60px, $tablet-width, 'w');

      @media (min-width: $breakpoint-small) {
        // position: absolute;
        // left: $container-margin;
        // bottom: percent-view(56px, $fhd-height, 'h');

        height: percent-view(60px, $tablet-width, 'w');
      }
      @media (min-width: $breakpoint-medium) {
        height: percent-view(94px);
      }

      & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;

    margin: 0 $right-margin percent-view(120px, $fhd-width, 'w')
      $container-margin;
    // margin-top: percent-view(91px, $fhd-width, 'w'); // todo check

    color: $color-gray;

    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
    }

    &--column {
      flex-direction: column;
    }

    &--product {
      margin: 0;
      padding: percent-view(91px, $fhd-width, 'w') $right-margin
        percent-view(120px, $fhd-width, 'w') $container-margin;
    }

    &--right {
      @media (min-width: $breakpoint-medium) {
        margin-right: calc(#{$column-width} + #{$column-margin} * 2);
      }
    }

    &__sidebar {
      flex: 0 0 100%;
      display: none;

      @media (min-width: $breakpoint-medium) {
        display: block;
        flex: 0 0 calc(#{$column-width} * 2); // - #{$column-margin}
        padding-right: #{$column-margin};
        margin-bottom: 40px;
        position: relative;
      }

      &--border {
        &:after {
          @media (min-width: $breakpoint-medium) {
            content: '';
            position: absolute;
            right: $column-margin;
            top: 0;
            bottom: 0;
            border-right: 1px solid rgba($color-red, 0.2);
          }
        }
      }

      &--visible-s {
        display: block;
        margin-bottom: 25px;
      }

      &-nav {
        margin-bottom: percent-view(110px);

        &-item {
          margin-bottom: percent-view(22px);

          &.uk-active {
            color: $color-gray;
            font-weight: 600;

            & .page-content__sidebar-nav-link {
              margin-left: 0;

              & svg {
                opacity: 1;
              }
            }
          }
        }

        &-link {
          @include menu-item-arrow;
        }
      }
    }

    &__mobile-nav-link {
      margin-bottom: 45px;

      @media (min-width: $breakpoint-medium) {
        display: none;
      }
    }

    &__mainbar {
      flex: 1 1 auto;

      @media (min-width: $breakpoint-medium) {
        flex: 1 1 auto;
        max-width: calc(#{$column-width} * 6);

        // padding-left: $container-margin;
      }

      &--border {
        @media (min-width: $breakpoint-medium) {
          border-left: 1px solid rgba($color-red, 0.2);
          padding-left: $column-margin;
        }
      }
    }

    &__title {
      margin-bottom: percent-view(51px);
    }
  }
}
