*[uk-scrollspy]:not(.uk-scrollspy-inview):not(.scrollspy__container) {
  opacity: 0;
}

[class*='uk-animation-'] {
  animation-duration: $animation-duration;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.hidden {
  //helper class to hide elements on page load on main page. to avoid blinks
  opacity: 0;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes hovering {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: matrix(0.95, 0, 0, 0.95, 0, 3);
    opacity: 1;
  }
}
