*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// disable default touch effect on mobile
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
canvas,
img,
video {
  /* 1 */
  max-width: 100%;
  /* 2 */
  height: auto;
  /* 3 */
  box-sizing: border-box;
}
video {
  object-fit: cover;
}
/* 4 */
@supports (display: block) {
  svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    box-sizing: border-box;
  }
}
svg:not(:root) {
  overflow: hidden;
}

iframe {
  border: 0;
}

/*
 * Reset margin for nested lists
 */

ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
  margin: 0;
}
/////

html {
  &:not(.uk-offcanvas-page) {
    @media (max-width: $breakpoint-small) {
      overflow-y: visible !important;
    }
  }

  font-size: 62.5%; // 1rem = 10px
  max-width: 100vw;
  overflow-x: hidden !important;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  // font-size: var(--font-size);
  // background-image: url(../images/om.jpg);
  // line-height: var(--line-height);

  max-width: 100vw;
  overflow-x: hidden !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $color-white;

  &.page--index {
    // background-color: rgb(204, 225, 229);
  }

  @media (max-width: $breakpoint-small-max) {
    &.fp-responsive .fp-section,
    &.fp-responsive .fp-slide,
    &.fp-responsive .fp-tableCell {
      height: auto !important;
    }
  }
}

.main {
  flex: 1 1 auto;
  // overflow: hidden;

  &--content {
    margin-top: responsive-value(109px, 181px);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// bitrix
.bx-core {
  // padding-top: 147px;
}
#panel {
  position: absolute;
  top: 0;
  width: 100%;
}
