body {
  font-family: $font-family;
  @include font-body;
  font-weight: 500;
  color: $color-gray;
}

a {
  color: $color-gray;
  text-underline-offset: 0.3em;
  text-decoration-color: rgba($color-red, 0.4);
  transition: all var(--transition);

  &:hover {
    text-decoration-color: rgba($color-red, 0);
    text-underline-offset: 0.7em;
    color: $color-red;
  }
  &:focus {
    // text-decoration: underline solid rgba(0,0,0,0.1);
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: $color-black;
}

h1,
.uk-h1,
.h1 {
  @include font-h1;

  & span {
    color: $color-red;
  }

  & a {
    text-decoration: none;
  }
}

h2,
.uk-h2,
.h2 {
  @include font-h2;
}

h3,
.uk-h3,
.h3 {
  @include font-h3;
}

h4 {
}

input,
option,
select {
  font-family: $font-family;
}

p + h3 {
  margin-top: percent-view(69px);
}

h3 + h3 {
  margin-top: percent-view(69px);
}

p + p {
  margin-top: percent-view(32px);
}

.text {
  &-muted {
    color: rgba($color-gray, 0.6);
  }

  &-lead {
    @include font-lead;
  }
}
