body {
  font-family: $font-family;
  @include font-body;
  font-weight: 500;
  color: $color-black;
}

a {
  color: $color-black;
  text-decoration: none;
  // text-underline-offset: 0.3em;
  // text-decoration-color: rgba($color-red, 0.4);
  transition: all var(--transition);

  &:hover {
    // text-decoration-color: rgba($color-red, 0);
    // text-underline-offset: 0.7em;
    color: $color-accent;
  }
  &:focus {
    // text-decoration: underline solid rgba(0,0,0,0.1);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  // font-weight: 700;
  color: $color-black;
}

h1,
.uk-h1,
.h1 {
  @include font-h1;

  & a {
    text-decoration: none;
  }
}

h2,
.uk-h2,
.h2 {
  @include font-h2;
}

h3,
.uk-h3,
.h3 {
  @include font-h3;
}

h4,
.uk-h4,
.h4 {
  @include font-40;
}

input,
option,
select {
  font-family: $font-family;
}

.text {
  &-muted {
    color: rgba($color-black, 0.6);
  }
}

p + p {
  margin-top: responsive-value(10px, 20px);
}
