@mixin num-reverse {
  --block-direction: row-reverse;
  .classic__block-num {
    @media (min-width: $breakpoint-small) {
      right: 14px;
      left: auto;
    }

    @media (min-width: $breakpoint-medium) {
      left: auto;
      right: 24px;
    }
  }
  .classic__block-image img {
    @media (min-width: $breakpoint-small) {
      left: auto;
      right: 0;
      transform: translate(3%, -25%);
    }
    @media (min-width: $breakpoint-medium) {
      transform: translate(14%, -30%);
    }
  }
}

.classic {
  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: calc(var(--vh, 1vh) * 100); //todo minus main--content height
    padding-bottom: responsive-value(30px, 60px);
    overflow: hidden;
    position: relative;

    &-before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 80vh;
      display: block;
      pointer-events: none;

      // background: linear-gradient(
      //   to bottom,
      //   $color-classic-top 0%,
      //   rgba($color-classic-top, 0) 100%
      // );
      box-shadow: 0px 60vh 40vh -40vh #{$color-classic-top} inset;
      z-index: 1;
      transition: box-shadow var(--transition-2);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    text-align: center;

    overflow: hidden;

    background: $color-classic-bg;
    transition: background var(--transition-2);

    & img,
    & svg {
      height: 100%;
      object-fit: contain;
      object-position: center;
      fill: $color-classic;
      opacity: 0.2;

      width: 130vw;

      @media (min-width: $breakpoint-medium) {
        width: calc(#{$column-width} * 4);
      }
    }
  }

  &__title-wrap {
    @include container;
    margin-top: responsive-value(109px, 181px);
    margin-bottom: responsive-value(40px, 80px);
    flex-direction: column;
    align-items: center;
    text-align: center;

    pointer-events: none;

    flex: 1 0 auto;
    justify-content: center;
    display: flex;
    z-index: 1;
  }
  &__subtitle {
    @include font-subtitle;
    color: $color-white;
  }
  &__title {
    @include font-heading-large;
    line-height: 1;
    color: $color-classic;
    margin-bottom: responsive-value(20px, 40px);

    word-spacing: 100vw; //break after each word
  }
  &__desc {
    @include font-label;
    color: $color-classic;

    pointer-events: all;

    & a {
      color: inherit;
      transition: all var(--transition-2);

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  &__bottles {
    // @include container-wider;
    // position: absolute;
    // width: 100%;
    // height: 100%;
  }
  &__bottle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    pointer-events: none;

    &-item {
      $section-3-bottle-width: responsive-value(102px, 207px);
      $section-3-bottle-height: responsive-value(162px, 330px);

      @include transition-fix;
      position: absolute;
      height: $section-3-bottle-height;
      width: $section-3-bottle-width;

      cursor: pointer;
      animation-name: hovering-y;
      // animation-duration: 2.5s;
      // animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-fill-mode: none;
      animation-play-state: running;

      pointer-events: all;

      @media (min-width: $breakpoint-medium) {
        height: percent-view(330px);
      }

      & img {
        @include transition-fix;
        height: 100%;
        transition: all var(--transition);
      }

      &:hover {
        & img {
          transform: scale(1.05);
        }
      }
    }

    &--1 {
      // first row bottles
      @for $i from 1 through 8 {
        &-#{$i} {
          left: calc(#{$column-width-small} * (#{$i} * 0.5 - 0.5));
          bottom: #{(50 + ($i - 1) * 10)}vh;

          animation-duration: random() + 3 + s;
          animation-delay: random() + s;

          @media (min-width: $breakpoint-small) {
            left: calc(#{$column-width-medium} * (#{$i} - 1));
            bottom: #{(60 + ($i - 1) * 5)}vh;
          }
          @media (min-width: $breakpoint-medium) {
            left: calc(#{$column-width} * (#{$i} - 1));
            bottom: #{(10 + ($i - 1) * 20)}vh;
          }
        }
      }
    }

    &--2 {
      //second row bottles
      @for $i from 1 through 8 {
        &-#{$i} {
          right: calc(#{$column-width-small} * (#{$i} * 0.5 - 0.4));
          top: #{(45 + ($i - 1) * 10)}vh;

          animation-duration: random() + 2 + s;
          animation-delay: random() + s;

          @media (min-width: $breakpoint-small) {
            right: calc(#{$column-width-medium} * (#{$i} - 1 + 0.3));
            top: #{(55 + ($i - 1) * 5)}vh;
          }
          @media (min-width: $breakpoint-medium) {
            right: calc(#{$column-width} * (#{$i} - 2));
            top: #{(-10 + ($i - 1) * 20)}vh;
          }
        }
      }
    }
  }

  &__scrolldown {
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;

    border-color: rgba($color-time, 0.6);

    & svg {
      stroke: $color-classic;
    }

    &:hover {
      background-color: $color-white;

      & svg {
        // stroke: $color-white;
      }
    }
  }

  &__section {
    @include container;
    flex-direction: column;
    align-items: center;

    margin-bottom: responsive-value(60px, 250px);
    padding-top: 120px; //logo height

    &-title {
      text-align: center;
      margin-bottom: responsive-value(60px, 250px);

      @media (min-width: $breakpoint-medium) {
        width: calc(#{$column-width} * 6);
      }
    }
  }

  &__block {
    $block-image-margin: 120px;
    --block-direction: row;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;

    padding: percent-view(80px) percent-view(100px) percent-view(100px)
      percent-view(90px);
    margin-top: $block-image-margin;

    background-color: var(--block-bg-color);

    @media (min-width: $breakpoint-small) {
      margin-top: 0;
      flex-direction: var(--block-direction);
    }

    &-wrap {
      padding-top: responsive-value(60px, 150px);
    }

    &-image {
      position: relative;
      text-align: center;
      align-self: stretch;
      margin-bottom: 14px;
      width: 100%;
      min-height: 300px;

      margin-top: -120px;

      @media (min-width: $breakpoint-small) {
        margin-bottom: 0;
        margin-top: 0;
      }

      @media (min-width: $breakpoint-medium) {
        width: calc(#{$column-width} * 2);
      }

      & img {
        height: 300px;
        max-width: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        object-fit: contain;

        @media (min-width: $breakpoint-small) {
          // bottom: -13%;
          // height: 150%;
          height: 370px;
          left: 50%;
          transform: translate(-55%, -25%);
        }
        @media (min-width: $breakpoint-medium) {
          height: 130%;
          transform: translate(-50%, -30%);

          // scale: 0.9;
          transform-origin: top center;
        }
        @media (min-width: $breakpoint-large) {
          height: 160%;
          // scale: 1;
        }
      }
    }
    &-num {
      position: absolute;
      left: 14px;
      top: 13px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      background-color: $color-white;
      border-radius: 50%;
      color: var(--block-title-color);
      font-family: $font-yeseva;

      @media (min-width: $breakpoint-medium) {
        left: 24px;
        top: 19px;
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      align-self: center;

      @media (min-width: $breakpoint-small) {
        flex: 0 0 50%;
        margin-bottom: 0;
      }
      @media (min-width: $breakpoint-medium) {
        flex: 0 0 calc(#{$column-width} * 3);
      }

      .time__block--orange & {
        @media (min-width: $breakpoint-medium) {
          order: -1;
        }
      }
    }
    &-title {
      @include font-h3;

      @media (max-width: $breakpoint-xsmall-max) {
        font-size: 36px;
      }

      margin-bottom: responsive-value(16px, 22px);
      text-align: center;
      color: var(--block-title-color);

      @media (min-width: $breakpoint-small) {
        text-align: left;
        width: 100%;
      }
      @media (min-width: $breakpoint-medium) {
        text-align: center;
      }

      .classic__block--lemon & {
        color: $color-lemon;
      }
      .classic__block--orange & {
        color: $color-orange;
      }
      .classic__block--grapefruit & {
        color: $color-grapefruit;
      }
    }
    &-text {
      text-align: center;

      @media (min-width: $breakpoint-small) {
        text-align: left;
      }
      @media (min-width: $breakpoint-medium) {
        text-align: center;
      }
    }

    &--kolokol {
      --block-bg-color: #e6f4fb;
      --block-title-color: #72b2e2;
    }
    &--sayany {
      --block-bg-color: #e2efe6;
      --block-title-color: #67ad75;

      @include num-reverse;
    }
    &--lemonade {
      --block-bg-color: #edf1d6;
      --block-title-color: #8db530;
    }
    &--dushes {
      --block-bg-color: #faedda;
      --block-title-color: #d26b48;
      @include num-reverse;
    }
    &--creamsoda {
      --block-bg-color: #f3ded9;
      --block-title-color: #c6323d;
    }
    &--sitro {
      --block-bg-color: #f9ead6;
      --block-title-color: #d3712e;
      @include num-reverse;
    }
    &--tarhun {
      --block-bg-color: #dcece4;
      --block-title-color: #377e60;
    }
    &--krushon {
      --block-bg-color: #f3dfe0;
      --block-title-color: #b61b3a;
    }
  }
}
