.index {
}

.section-1 {
  position: relative;
  min-height: calc(var(--vh, 1vh) * 100);

  @media (min-width: $breakpoint-medium) {
    // min-height: calc(0.565 * 100vw);
  }

  &--transparent {
    opacity: 0;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0 auto;
    transform-origin: center top;
    width: 100%;
    height: 60vh;

    @media (min-width: $breakpoint-medium) {
      width: calc(#{$column-width} * 8);
      height: auto;
      max-height: calc(0.47 * 100vw);
    }

    &-svg {
      width: 0;
      height: 0;
      position: absolute;

      & clipPath {
        transform-origin: center top;
      }
    }

    &-video {
      // clip-path: url(#section-1-clip);
      // -webkit-clip-path: url(#section-1-clip);
      width: 100%;
      height: 100%;

      clip-path: ellipse(0% 0% at 50% 0%);
      transition: all 2s ease;

      @media (min-width: $breakpoint-medium) {
        max-height: 80vh;
      }

      // BG ANIMATION ON PAGE LOAD
      &.active {
        clip-path: ellipse(100% 90% at 50% 0%);

        @media (min-width: $breakpoint-small) {
          clip-path: ellipse(80% 90% at 50% 0%);
        }
        @media (min-width: $breakpoint-medium) {
          clip-path: ellipse(50% 80% at 50% 0%);
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: calc(var(--vh, 1vh) * 100);
    position: relative;

    // width: calc(#{$column-width} * 6);
    // margin: 0 auto;
    @include container;

    padding-top: percent-view(206px, $breakpoint-medium-max);
    padding-bottom: 55px;

    @media (min-width: $breakpoint-medium) {
      padding-top: percent-view(100px);
      padding-bottom: 33px;
    }
  }

  &__title {
    text-align: center;
    color: $color-white;
    // position: absolute;
    top: percent-view(206px, $breakpoint-medium-max);
    @media (min-width: $breakpoint-medium) {
      top: percent-view(100px);
    }
    margin-bottom: responsive-value(15px, 30px);

    transition: all var(--transition-2);
  }

  &__slider {
    // $slider-1-height: responsive-value(
    //   360px,
    //   490px,
    //   $mobile-min-width,
    //   $fhd-width
    // );
    // $slider-1-height: calc(
    //   #{responsive-value(
    //       320px / 2,
    //       450px / 2,
    //       $mobile-min-width,
    //       $fhd-width,
    //       'w'
    //     )} + #{responsive-value(
    //       320px / 2,
    //       450px / 2,
    //       $mobile-min-height,
    //       $fhd-height,
    //       'h'
    //     )}
    // );
    // $slider-1-height-s: responsive-value(
    //   280px,
    //   440px,
    //   $mobile-min-width,
    //   $breakpoint-small-max
    // );
    $slider-1-height: 44vh;
    $slider-1-height-s: 44vh;

    $slider-1-text-offset: 7vh;

    width: 100%;
    padding: 0 percent-view(68px);

    &-item {
      width: 30%;
      display: flex;
      // justify-content: center;
      align-items: flex-end;
      position: relative;
      flex-direction: column;
      &:hover {
        & .section-1__slider-item-name {
          color: $color-accent-2;
        }
      }

      &-top {
        width: 100%;
        position: relative;
      }

      &-image {
        transition: all var(--transition);
        position: relative;

        width: 100%;
        height: $slider-1-height-s;

        @media (min-width: $breakpoint-small) {
          height: $slider-1-height;
        }

        & img {
          transition: all var(--transition);

          height: 18vh;
          left: 50%;
          transform: translateX(-50%);
          // width: 100%;
          object-fit: contain;
          object-position: center bottom;
          position: absolute;
          bottom: 0;
        }
      }

      &-link {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
      }

      &-name {
        display: none;

        @media (min-width: $breakpoint-small) {
          display: block;
        }
        position: absolute;
        transition: all var(--transition);
        opacity: 0;
        bottom: percent-view(26px);
        width: percent-view(200px);

        line-height: 1.2;
        color: $color-accent;
      }

      &-button {
        &-wrap {
          opacity: 0;
          pointer-events: none;
          transition: all var(--transition);
          transition-delay: 0s;
          transform: translateY(20px);
          margin-top: 20px;
          width: 100%;
          padding-bottom: 5px; //prevent button clipping
        }
      }

      // LEFT SLIDE
      &.swiper-slide-prev {
        & .section-1__slider-item-image img {
          left: 0;
          transform: translateX(0);
        }
        & .section-1__slider-item-name {
          opacity: 1;
          left: $slider-1-text-offset;
          right: auto;
        }
      }

      // CENTER SLIDE
      &.swiper-slide-active {
        & .section-1__slider-item-image img {
          height: $slider-1-height-s;

          @media (min-width: $breakpoint-small) {
            height: $slider-1-height;
          }
        }
        & .section-1__slider-item-name {
          opacity: 0;
          left: 0;
        }
        & .section-1__slider-item-button {
          animation-play-state: running;
        }
        & .section-1__slider-item-button-wrap {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0);
          transition-delay: 0.5s;
        }
      }

      // RIGHT SLIDE
      &.swiper-slide-next {
        & .section-1__slider-item-image img {
          left: 100%;
          transform: translateX(-100%);
        }
        & .section-1__slider-item-name {
          opacity: 1;
          right: $slider-1-text-offset;
          left: auto;
          text-align: right;
        }
      }

      // hover on side slides
      &:not(.swiper-slide-active) {
        & .section-1__slider-item-top:hover {
          .section-1__slider-item-image img {
            // transform: scale(1.05);
          }
        }
        &.swiper-slide-next {
          & .section-1__slider-item-top:hover {
            .section-1__slider-item-image img {
              // transform: translateX(-100%) scale(1.05);
            }
          }
        }
      }
    }

    &-nav {
      position: absolute;
      transform: translateY(-50%);
      z-index: 1;
      bottom: responsive-value(40px, 67px, $mobile-min-width, $fhd-width);
      display: none;

      @media (min-width: $breakpoint-small) {
        display: block;
      }

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }
    }
  }

  &__subtitle {
    font-family: $font-menu-2;
    font-size: responsive-value(18px, 26px);
    line-height: 1.1;
    margin: responsive-value(10px, 20px) auto responsive-value(20px, 40px) auto;
    text-align: center;
    color: rgba($color-black, 0.6);

    @media (min-width: $breakpoint-small) {
      max-width: calc(#{$column-width-medium} * 3);
    }

    @media (min-width: $breakpoint-medium) {
      max-width: calc(#{$column-width} * 3);
    }
  }

  &.active {
  }
  &:not(.active) {
    // & .section-1__title {
    //   opacity: 0;
    //   transform: scale(0.2);
    // }
  }
}
