@mixin product-bg {
  position: absolute;
  // width: 100%;
  // height: 100%;
  top: 0;
  // left: 50%;
  // transform: translateX(-50%);
  z-index: -1;
  text-align: center;
  transition: transform var(--transition);

  // width: calc(#{$column-width-small} * 1.6);
  width: 100%;
  height: calc(#{$column-width-small} * 1.6);

  @media (min-width: $breakpoint-small) {
    // width: calc(#{$column-width-medium} * 2.5);
    width: 100%;
    height: calc(#{$column-width-medium} * 2.5);
  }
  @media (min-width: $breakpoint-medium) {
    // width: calc(#{$column-width} * 3);
    width: 100%;
    height: calc(#{$column-width} * 3);
  }

  & img {
    width: 100%;
    // height: 100%;
    object-fit: contain;
    object-position: top center;
  }

  & > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform var(--transition);
  }
}

.products {
  @include container-wide;

  display: flex;
  flex-direction: column;
  position: relative;

  align-items: center;

  @media (min-width: $breakpoint-medium) {
    align-items: start;
  }

  &__water {
    width: calc(#{$column-width-small} * 1.6);

    @media (min-width: $breakpoint-small) {
      width: calc(#{$column-width-medium} * 2.5);
    }
    @media (min-width: $breakpoint-medium) {
      width: calc(#{$column-width} * 3);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    padding-top: responsive-value(59px, 148px);
    margin-bottom: 100px;

    // @media (min-width: $breakpoint-medium) {
    //   flex: 0 0 calc(#{$column-width} * 3.5);
    // }

    &-bg {
      @include product-bg;

      border-radius: 50%;
      overflow: hidden;

      .products__water:hover & {
        transform: translateX(-50%) scale(1.05);

        & video {
          transform: scale(1);
        }
      }

      & img,
      & video {
        transform: scale(1.05);
      }
    }

    &-title {
      @include font-40;

      color: $color-white;
      text-align: center;
      margin-bottom: responsive-value(25px, 50px);
    }

    &-image {
      height: responsive-value(290px, 491px);
      // height: percent-view(491px);

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }

  &__time {
    width: calc(#{$column-width-small} * 1.6);

    @media (min-width: $breakpoint-small) {
      width: calc(#{$column-width-medium} * 2.5);
    }
    @media (min-width: $breakpoint-medium) {
      width: calc(#{$column-width} * 3);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;

    padding-top: responsive-value(90px, 167px);

    @media (min-width: $breakpoint-medium) {
      position: absolute;
      right: 0;
      top: percent-view(270px);
    }

    &:hover &-bg {
      transform: translateX(-50%) scale(1.05);

      & video {
        transform: scale(1);
      }
    }

    &-bg {
      @include product-bg;

      border-radius: 8px;
      overflow: hidden;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color-time;
        mix-blend-mode: multiply;
        z-index: 1;
      }

      & video {
        transform: scale(1.05);
      }

      &-2 {
        @include product-bg;
        top: responsive-value(70px, 122px);
        text-align: center;
        mix-blend-mode: overlay;

        & img {
          width: 70%;
        }
      }
    }

    &-title {
      @include font-40;

      color: $color-white;
      text-align: center;
      margin-bottom: percent-view(18px);
    }
    &-subtitle {
      @include font-label;
      font-family: $font-menu-2;

      color: $color-white;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: responsive-value(40px, 108px);
    }
    &-image {
      text-align: center;

      & img {
        max-width: 80%;
      }
    }
  }

  &__classic {
    width: calc(#{$column-width-small} * 2);

    @media (min-width: $breakpoint-small) {
      width: calc(#{$column-width-medium} * 2.5);
    }
    @media (min-width: $breakpoint-medium) {
      width: calc(#{$column-width} * 5);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    height: percent-view(1000px);

    padding-top: responsive-value(141px, 274px);
    padding-bottom: responsive-value(141px, 274px);
    margin-bottom: 100px;

    flex: 0 0 calc(#{$column-width} * 5);
    align-self: center;

    &:hover &-bg {
      transform: scale(1.05);
    }

    &-bg {
      // @include product-bg;

      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;

      // animation-name: hovering;
      // animation-duration: 2.5s;
      // animation-delay: 0s;
      // animation-play-state: running;
      // animation-iteration-count: infinite;
      // animation-direction: alternate;

      transition: transform var(--transition);

      top: responsive-value(48px, 130px);
    }

    &-title {
      @include font-40;
      color: $color-classic;
      text-align: center;
    }
    &-image {
      width: 100%;
      height: 100%;
      position: absolute;

      & img {
        position: absolute;
        width: 50%;
      }

      &--01 {
        left: 0;
        top: 0;
      }
      &--02 {
        right: 0;
        bottom: 0;
      }
    }
  }

  &--column {
    align-items: center;

    & .products__time {
      position: relative;
      top: 0;
    }
  }
}
