.time {
  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: calc(var(--vh, 1vh) * 100); //todo minus main--content height
    padding-bottom: responsive-value(30px, 60px);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: responsive-value(250px, 315px);
    z-index: -1;
    margin: 0 auto;
    transform-origin: center top;
    width: 100%;

    border-radius: 0 0 responsive-value(30px, 77px) responsive-value(30px, 77px);
    overflow: hidden;

    @media (min-width: $breakpoint-medium) {
      // width: calc(#{$column-width} * 8);
      // height: auto;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 0;
      background-color: $color-time;
      mix-blend-mode: multiply;
    }

    &-video {
      // clip-path: url(#section-1-clip);
      // -webkit-clip-path: url(#section-1-clip);
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: all 2s ease;
    }
  }

  &__title-wrap {
    @include container;

    margin-top: responsive-value(109px, 181px);
    margin-bottom: responsive-value(20px, 50px);
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__subtitle {
    @include font-subtitle;
    color: $color-white;
  }
  &__title {
    @include font-h1;
    color: $color-white;
  }

  &__bottles {
    @include container;
    position: relative;
    flex: 1 0 auto;

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: percent-view(40px);

    padding-top: 64px;

    @media (min-width: $breakpoint-medium) {
      width: calc(#{$column-width} * 4);
      margin-top: percent-view(-110px);
    }

    &-bg {
      position: absolute;
      left: 0;
      top: auto;
      bottom: 40%;
      width: 100%;
      z-index: -1;
      text-align: center;
    }
  }

  &__bottle {
    display: block;
    text-align: center;

    &-image {
      margin-bottom: 30px;
      height: responsive-value(
        200px,
        330px,
        $mobile-min-width,
        $breakpoint-small-max
      );

      @media (min-width: $breakpoint-small) and (orientation: portrait) {
        height: responsive-value(
          250px,
          420px,
          $mobile-min-width,
          $breakpoint-small-max
        );
      }

      @media (min-width: $breakpoint-medium) {
        height: percent-view(390px);
        max-height: 43vh;
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    &-title {
      @include font-label;
    }
  }
  &__scrolldown {
    margin: 0 auto;
    text-align: center;

    border-color: rgba($color-time, 0.6);

    & svg {
      stroke: $color-time;
    }

    &:hover {
      background-color: $color-time;

      & svg {
        stroke: $color-white;
      }
    }
  }

  &__section {
    @include container-wide;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: responsive-value(60px, 250px);
    padding-top: 120px; //logo height

    &-title {
      text-align: center;
      margin-bottom: responsive-value(60px, 250px);

      @media (min-width: $breakpoint-medium) {
        width: calc(#{$column-width} * 6);
      }
    }
  }

  &__block {
    $time-image-size-s: calc(#{$column-width-small} * 2);
    $time-image-size-m: calc(#{$column-width-medium} * 2.5);
    $time-image-size-l: calc(#{$column-width} * 3);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: responsive-value(
      86px,
      113px,
      $mobile-min-width,
      $breakpoint-medium
    );

    @media (min-width: $breakpoint-medium) {
      flex-direction: row;
      margin-bottom: 0;
    }

    &-image {
      position: relative;
      // width: calc(#{$column-width} * 3);
      flex: 0 0 calc(#{$column-width-small} * 2);
      margin-bottom: responsive-value(
        17px,
        53px,
        $mobile-min-width,
        $breakpoint-medium
      );

      @media (min-width: $breakpoint-small) {
        flex: 0 0 calc(#{$column-width-medium} * 2.5);
        margin-bottom: 0;
      }

      @media (min-width: $breakpoint-medium) {
        flex: 0 0 calc(#{$column-width} * 3);
        margin-bottom: 0;
      }
    }
    &-bg {
      position: relative;
      z-index: -1;
      border-radius: 8px;
      overflow: hidden;

      width: $time-image-size-s;
      height: $time-image-size-s;

      @media (min-width: $breakpoint-small) {
        width: $time-image-size-m;
        height: $time-image-size-m;
      }

      @media (min-width: $breakpoint-medium) {
        width: $time-image-size-l;
        height: $time-image-size-l;
      }

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        mix-blend-mode: multiply;

        .time__block--lemon & {
          background-color: $color-lemon-bg;
        }
        .time__block--orange & {
          background-color: $color-orange-bg;
        }
        .time__block--grapefruit & {
          background-color: $color-grapefruit-bg;
        }
      }

      & img,
      & video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-logo {
        position: absolute;
        top: 20%;
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.15;
      }
    }
    &-bottles {
      // padding-top: 28%;
      margin-top: -75%;
      text-align: center;

      & img {
        // height: responsive-value(601px, 334px);
        width: 120%;
        margin-left: -15%;
        max-width: none;
        object-fit: contain;

        @media (min-width: $breakpoint-medium) {
          // height: percent-view(601px);
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 0 0 calc(#{$column-width} * 3);

      .time__block--orange & {
        @media (min-width: $breakpoint-medium) {
          order: -1;
        }
      }
    }
    &-title {
      margin-bottom: responsive-value(30px, 55px);
      text-align: center;

      .time__block--lemon & {
        color: $color-lemon;
      }
      .time__block--orange & {
        color: $color-orange;
      }
      .time__block--grapefruit & {
        color: $color-grapefruit;
      }
    }
    &-text {
      text-align: center;
      margin-bottom: responsive-value(30px, 70px);
    }
    &-label {
      @include font-label;
    }
  }
}
