.water {
  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: calc(var(--vh, 1vh) * 100); //todo minus main--content height
    padding-bottom: responsive-value(30px, 60px);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: responsive-value(250px, 315px);

    z-index: -1;
    margin: 0 auto;
    transform-origin: center top;
    width: 100%;
    clip-path: ellipse(100% 100% at 50% 0%);
    // height: calc(var(--vh, 1vh) * 60);

    &-video {
      // clip-path: url(#section-1-clip);
      // -webkit-clip-path: url(#section-1-clip);
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: all 2s ease;
    }
  }

  &__title-wrap {
    @include container;

    margin-top: responsive-value(109px, 181px);
    margin-bottom: responsive-value(20px, 50px);
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__subtitle {
    @include font-subtitle;
    color: $color-white;
  }
  &__title {
    @include font-h1;
    color: $color-white;
  }

  &__bottles {
    @include container;
    display: flex;
    flex: 1 0 auto;
    width: 100%;

    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: percent-view(40px);

    @media (min-width: $breakpoint-small) {
      justify-content: space-between;
    }
  }

  &__bottle {
    display: block;
    text-align: center;
    flex: 1;

    &-image {
      margin-bottom: percent-view(25px);

      height: responsive-value(
        200px,
        330px,
        $mobile-min-width,
        $breakpoint-small-max
      );

      @media (min-width: $breakpoint-small) and (orientation: portrait) {
        height: responsive-value(
          250px,
          420px,
          $mobile-min-width,
          $breakpoint-small-max
        );
      }

      @media (min-width: $breakpoint-medium) {
        height: percent-view(390px);
        max-height: 43vh;
      }

      & img,
      & picture {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        transition: all var(--transition);
        transform-origin: center bottom;

        .water__bottle:hover & {
          transform: scale(1.05);
        }
      }
    }
    &-title {
      @include font-label;
      transition: all var(--transition);
      display: none;

      @media (min-width: $breakpoint-small) {
        display: block;
      }

      .water__bottle:hover & {
        color: rgba($color-black, 0.8);
      }
    }
  }

  &__scrolldown {
    margin: 0 auto;
    text-align: center;

    border-color: rgba($color-accent, 0.6);

    & svg {
      stroke: $color-accent;
    }
  }

  &__section {
    @include container;
    margin-bottom: responsive-value(70px, 144px);
    margin-top: 120px; //logo height

    &-title {
      @include font-heading-large;
      text-align: center;
      margin-bottom: responsive-value(40px, 64px);
    }

    &-content {
      display: flex;
      // align-items: flex-end;
      position: relative;

      flex-direction: column;

      @media (min-width: $breakpoint-small) {
        flex-direction: row;
      }
    }

    &-bottle {
      text-align: center;
      position: relative;

      &-wrap {
        position: relative;
      }
      &-img {
        margin-bottom: 30px;
      }
      &-label {
        @include font-label;
      }
      &-text {
        text-align: left;
        margin-bottom: 30px;

        &--carb {
          margin-top: 30px;

          @media (min-width: $breakpoint-small) {
            position: absolute;
            top: 0;
            left: 65%;
            margin-top: 0;
          }
        }
      }

      &-mobile-text {
        margin: 30px 0;
        @media (min-width: $breakpoint-small) {
          display: none;
        }
      }

      &--pull {
        margin-top: -30%;
        order: -1;
        margin-bottom: 30px;

        @media (min-width: $breakpoint-small) {
          order: 0;
          margin-bottom: 0;
        }
        @media (min-width: $breakpoint-medium) {
          margin-top: -22%;
        }

        & img {
          width: responsive-value(107px, 226px);
        }
      }

      &--uncarb-05 {
        @media (max-width: $breakpoint-xsmall-max) {
          width: calc(#{$column-width-small} * 1);
          // height: calc(#{$column-width-small} * 1);
        }

        & .water__section-bottle-bg {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          overflow: hidden;

          width: calc(#{$column-width-small} * 1);
          height: calc(#{$column-width-small} * 1);

          @media (min-width: $breakpoint-small) {
            width: calc(#{$column-width-medium} * 1.2);
            height: calc(#{$column-width-medium} * 1.2);
          }

          @media (min-width: $breakpoint-medium) {
            width: calc(#{$column-width} * 1.5);
            height: calc(#{$column-width} * 1.5);
          }

          & video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        & .water__section-bottle-img {
          padding-top: 20%;
          position: relative;
          z-index: 1;

          height: responsive-value(
            206px,
            260px,
            $mobile-min-width,
            $breakpoint-small-max
          );

          @media (min-width: $breakpoint-medium) {
            height: percent-view(406px);
          }

          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }

      &--uncarb-50 {
        position: absolute;
        bottom: 0;
        right: 10px;
        @media (max-width: $breakpoint-xsmall-max) {
          width: responsive-value(140px, 178px);
        }
        @media (min-width: $breakpoint-small) {
          position: static;
        }

        & .water__section-bottle-img,
        & .water__section-bottle-label {
          width: responsive-value(140px, 178px);
        }
      }

      &--carb-15 {
        flex: 0 0 70%;
        // margin-bottom: 30px;

        @media (min-width: $breakpoint-small) {
          flex: 0 0 60%;
          margin-bottom: 0;
        }

        & .water__section-bottle-bg {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          overflow: hidden;

          width: calc(#{$column-width-small} * 1.5);
          height: calc(#{$column-width-small} * 1.5);

          @media (min-width: $breakpoint-small) {
            width: calc(#{$column-width-medium} * 2);
            height: calc(#{$column-width-medium} * 2);
          }

          @media (min-width: $breakpoint-medium) {
            width: calc(#{$column-width} * 2.5);
            height: calc(#{$column-width} * 2.5);
          }

          & video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        & .water__section-bottle-img {
          padding-top: 20%;
          position: relative;
          z-index: 1;

          height: responsive-value(
            390px,
            470px,
            $mobile-min-width,
            $breakpoint-small-max
          );

          @media (min-width: $breakpoint-medium) {
            height: percent-view(670px);
          }

          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
      &--carb-05 {
        flex: 0 0 25%;
        & .water__section-bottle-text {
          @media (min-width: $breakpoint-small) {
            margin-left: calc(#{$column-width-medium} / 4);
          }
          @media (min-width: $breakpoint-medium) {
            margin-left: calc(#{$column-width} / 2);
          }
        }

        & .water__section-bottle-bg {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 50%;
          overflow: hidden;
          top: 20%;

          width: calc(#{$column-width-small} * 0.5);
          height: calc(#{$column-width-small} * 0.5);

          @media (min-width: $breakpoint-small) {
            width: calc(#{$column-width-medium} * 0.8);
            height: calc(#{$column-width-medium} * 0.8);
          }

          @media (min-width: $breakpoint-medium) {
            width: calc(#{$column-width} * 1);
            height: calc(#{$column-width} * 1);
          }

          & video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        & .water__section-bottle-img {
          position: relative;
          z-index: 1;

          height: responsive-value(
            180px,
            230px,
            $mobile-min-width,
            $breakpoint-small-max
          );

          @media (min-width: $breakpoint-medium) {
            height: percent-view(328px);
          }

          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
          }
        }
      }
    }

    &--uncarb {
      & .water__section-title {
      }
    }

    &--carb {
      & .water__section-content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
      }
      & .water__section-title {
      }
    }
    &--premium {
      & .water__section-bottle {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      & .water__section-bottle-bg {
        position: absolute;
        // left: 50%;
        // transform: translateX(-50%);
        border-radius: 50%;
        overflow: hidden;

        width: calc(#{$column-width-small} * 1.5);
        height: calc(#{$column-width-small} * 1.5);

        @media (min-width: $breakpoint-small) {
          width: calc(#{$column-width-medium} * 2);
          height: calc(#{$column-width-medium} * 2);
        }

        @media (min-width: $breakpoint-medium) {
          width: calc(#{$column-width} * 2.5);
          height: calc(#{$column-width} * 2.5);
        }

        & video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & .water__section-bottle-img {
        margin-top: 30%;
        position: relative;
        z-index: 1;

        height: responsive-value(
          234px,
          334px,
          $mobile-min-width,
          $breakpoint-small-max
        );

        @media (min-width: $breakpoint-medium) {
          height: percent-view(530px);
        }

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
        }
      }
      & .water__section-content {
        justify-content: center;
      }
      & .water__section-bottle-text {
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        @media (min-width: $breakpoint-small) {
          width: calc(#{$column-width-medium} * 2);
        }
        @media (min-width: $breakpoint-medium) {
          width: calc(#{$column-width} * 3);
        }
      }
    }
  }
}
