footer.footer
  a(href="index.html").footer__logo
    //- img(src="assets/logo-footer.svg", alt="")
    +svg({name: 'logo', viewbox: '0 0 660 123'})
  ul.footer__menu
    li.footer__menu-item: a(href="company.html").footer__menu-link Компания
    li.footer__menu-item: a(href="products.html").footer__menu-link Продукция
    li.footer__menu-item: a(href="news.html").footer__menu-link Новости
    li.footer__menu-item: a(href="contacts.html").footer__menu-link Контакты
  ul.footer__socials
    +footer-social-item({link: '', icon: 'instagram'})
    +footer-social-item({link: '', icon: 'facebook'})
    +footer-social-item({link: '', icon: 'twitter'})
    +footer-social-item({link: '', icon: 'twitter2'})
    +footer-social-item({link: '', icon: 'vk'})
    +footer-social-item({link: '', icon: 'odnoklassniki'})

  .footer__copyright
    .footer__copyright-item © 2020 АО «Минеральная вода и напитки»
    .footer__copyright-item 
      a(href="https://enteragency.ru") Разработано в Enteragency
    