footer.footer
  .footer__column.footer__column--logo
    img(src="./assets/logo-footer.svg", alt="Melsytech")
  ul.footer__column.footer__column--catalog
    li.footer__nav-section: a(href="/") Каталог
    li.footer__nav-section: a(href="/") Области применения
    li.footer__nav-section: a(href="/") Технологии
    li.footer__nav-section: a(href="/") Контакты
  ul.footer__column.footer__column--company.footer__column--accordion
    li.footer__nav-section
      a.footer__nav-section-title.uk-accordion-title(href="/")
        +svg({name: 'chevron-down'})
        | Компания
      ul.footer__nav-section-sub.uk-accordion-content
        li.footer__nav: a(href="/") О компании
        li.footer__nav: a(href="/") Производство
        li.footer__nav: a(href="/") Наши партнеры
        li.footer__nav: a(href="/") Новости
        li.footer__nav: a(href="/") Публикации в СМИ
        li.footer__nav: a(href="/") Отзывы
  ul.footer__column.footer__column--support.footer__column--accordion
    li.footer__nav-section
      a.footer__nav-section-title.uk-accordion-title(href="/")
        +svg({name: 'chevron-down'})
        | Поддержка
      ul.footer__nav-section-sub.uk-accordion-content
        li.footer__nav
          a(href="/")
            | Сервис
            +svg({name: 'link-outer'})
        li.footer__nav: a(href="/") Обучение
        li.footer__nav: a(href="/") Маркетинговая поддержка
        li.footer__nav: a(href="/") Как купить
        li.footer__nav: a(href="/") Доставка

  .footer__column.footer__column--contacts
    .footer__contacts-wrap
      .footer__phone: a(href="tel:=78312809630") +7 (831) 280-96-30
      .footer__email: a(href="mailto:sales@melsytech.com") sales@melsytech.com
    .footer__address Россия, г. Дзержинск
      br
      | ул. Игумновское шоссе, 11Д