header.header
  nav.header__nav
    a.header__nav-item(href="company.html") Компания
    a.header__nav-item(href="products.html") Продукция
    a.header__nav-item.header__nav-logo(href="index.html")
      //- +svg({name: 'logo-panel'}).header__nav-logo-panel
      svg.header__nav-logo-panel(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 264 96', style='enable-background:new 0 0 264 96;', xml:space='preserve')
        g#panel
          path.header__nav-logo-panel-path(d='M172,31.1c0-1.5-1.2-2.8-2.7-2.8h-1.9v5.6h1.9C170.7,33.8,171.9,32.6,172,31.1z')
          path.header__nav-logo-panel-path(d='M118,28.4h-2.4V36h2.4c0.1,0,0.1,0,0.2,0c2.1,0,3.9-1.7,3.9-3.8c0-1.1-0.4-2.1-1.2-2.7C120.1,28.7,119.1,28.4,118,28.4z')
          polygon.header__nav-logo-panel-path(points='94,32 91.1,39.3 96.9,39.3 96.9,39.3 	')
          path.header__nav-logo-panel-path(d='M144.1,28.4c-4.4-0.1-8,3.5-8,7.9c-0.1,4.4,3.5,8,7.9,8s8-3.5,8-7.9S148.5,28.5,144.1,28.4z')
          polygon.header__nav-logo-panel-path(points='194.1,32 191.2,39.3 197,39.3 197,39.3 	')
          path.header__nav-logo-panel-path(d='M170.5,38.5h-3.2v6.1h3.2l0,0c0.1,0,0.3,0,0.4,0c1.6-0.1,2.7-1.5,2.6-3C173.6,39.9,172.2,38.5,170.5,38.5z')
          g
            path.header__nav-logo-panel-path(d='M203.5,29.1c1.6,0,3-1.3,3-3c0-1.6-1.3-3-2.9-3c-1.6,0-3,1.3-3,2.9c0,0,0,0,0,0C200.6,27.8,201.9,29.1,203.5,29.1z\
            M202.2,24.2h1.7c0.7,0,1.4,0.2,1.4,1c0,0.8-0.6,1.1-1.2,1.1l1.2,1.8h-0.6l-1.1-1.8h-0.9v1.8h-0.5V24.2z')
            path.header__nav-logo-panel-path(d='M5,0c1.5,5.2,3.3,10.4,5.4,15.4C20.4,39,37,59.1,58.2,73.5c14.3,9.7,30.3,16.4,47.2,19.9c8.8,1.8,17.7,2.7,26.6,2.7\
            c8.9,0,17.8-0.9,26.6-2.7c8.5-1.7,16.8-4.3,24.8-7.7c23.6-10,43.7-26.6,58.1-47.8C249.3,26.2,255.2,13.4,259,0H5z M66.6,42.7\
            c3.5,2.7,8.5,2,11.2-1.4h0.5v7c-2.1,1.2-4.5,1.9-6.9,1.9c-7.6,0-13.7-6.2-13.6-13.8c0-7.6,6.2-13.7,13.8-13.6\
            c2.6,0,5.2,0.8,7.3,2.2l-2.3,5.4c-0.1,0-0.1-0.1-0.2-0.1c-3.5-2.7-8.5-2-11.2,1.4C62.4,35,63.1,40,66.6,42.7z M101,49.4l-2.1-5\
            h-9.7l-2.1,5h-6.3L90,27.7c0.8-1.8,0.7-3.1-0.3-3.7v-0.6H95c0.9,0.1,1.6,0.7,1.8,1.5l0.3,0.7l10.1,23.8H101z M117.9,41h-2.3v8.4\
            h-5.8V29c0-3.3-0.3-4.4-1.5-5v-0.6h9.2c6.2,0,10.1,3.4,10.1,8.8C127.7,37.3,123.6,41,117.9,41z M143.9,50.1\
            c-7.6,0-13.7-6.1-13.7-13.7c0-7.6,6.1-13.7,13.7-13.7c7.6,0,13.7,6.1,13.7,13.7C157.6,44,151.5,50.1,143.9,50.1z M203.5,22.7\
            C203.5,22.7,203.5,22.7,203.5,22.7c1.9,0,3.5,1.6,3.5,3.5c0,1.9-1.6,3.5-3.5,3.5c-1.9,0-3.5-1.6-3.5-3.5\
            C200,24.3,201.6,22.7,203.5,22.7z M171.4,49.4h-9.8V29.1c0-3.7-0.3-4.5-1.5-5.1v-0.6h9.7c4-0.1,7.4,3.1,7.4,7.1\
            c0,1.5-0.5,3-1.5,4.2l-0.1,0.1l-0.3,0.4l0.6,0.4c2.1,1.4,3.4,3.7,3.4,6.2C179.4,46.4,176.3,49.4,171.4,49.4z M201.1,49.4l-2.1-5\
            h-9.7l-2.1,5h-6.3l9.2-21.7c0.8-1.8,0.7-3.1-0.3-3.7v-0.6h5.3c0.9,0.1,1.6,0.7,1.8,1.5l0.3,0.7l10.1,23.8H201.1z')
            path.header__nav-logo-panel-path(d='M204.8,25.3c0-0.6-0.5-0.7-1-0.7h-1.1V26h1.2C204.2,26,204.8,25.9,204.8,25.3z')


      //- +svg({name: 'logo'}).header__nav-logo-title
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 660 123').header__nav-logo-title
        path(d='M265.54,540.32a60.37,60.37,0,1,1,2.31-103.09l-10.07,23.69A35.49,35.49,0,0,0,200,488.08c0,19.29,15.91,35,35.48,35a35.54,35.54,0,0,0,27.93-13.57h2.14Zm350.1-52.24a60.39,60.39,0,1,1-60.39-60.38A60.55,60.55,0,0,1,615.64,488.08Zm-24.91,0a35.47,35.47,0,0,0-70.94,0c0,19.29,15.92,35,35.46,35S590.71,507.37,590.73,488.08Zm-107-18.64c0,23-18.34,39-43.07,39H430.33v37H404.85V455.66c0-14.87-1.55-19.49-6.47-22.1v-2.85l40.59,0C466.49,430.75,483.68,446.5,483.68,469.44Zm-24.72,0c0-10.1-8.47-16.64-17.87-16.64H430.33v33.28h10.76C450.68,486.08,459,479.43,459,469.44Zm252.75,42.62c0,21.21-15.06,33.35-35.4,33.35h-43V455.86c0-16.58-1.53-19.68-6.5-22.3v-2.85l42.64,0c18.15,0,32.79,14.24,32.85,31.49a30.41,30.41,0,0,1-6.42,18.53l-.5.64-1.32,1.69,2.52,1.69A32.86,32.86,0,0,1,711.71,512.06Zm-53.19-35.4h8.23a12.31,12.31,0,0,0,0-24.62h-8.23v24.62ZM686,510.88a13.46,13.46,0,0,0-13.44-13.43h-14V524.3h14C680.22,524.3,686,519.72,686,510.88Zm148.75,34.53H807.12l-9.4-22.14H755l-9.4,22.14H718l40.63-95.72h0c3.09-7.32,3.34-13.67-1.36-16.14v-2.82h23.44c3.94,0,6.72,3.12,8.14,6.52h0l1.32,3.13Zm-45.67-44.47-12.71-32.13-12.72,32.13ZM393.54,545.41h-27.6l-9.4-22.14H313.78l-9.41,22.14h-27.6l40.63-95.72h0c3.1-7.32,3.35-13.67-1.34-16.14v-2.82h23.43c3.94,0,6.71,3.12,8.15,6.52h0L349,440.4Zm-45.66-44.47-12.73-32.13-12.72,32.13Z', transform='translate(-175.06 -426.33)')
        path(d='M834.68,441.64a15.37,15.37,0,1,1-15.35-15.31A15.34,15.34,0,0,1,834.68,441.64Zm-28.41,0a13,13,0,1,0,13.06-13A13,13,0,0,0,806.27,441.64Zm7.3-8.61h7.55c2.94,0,6.13.94,6.13,4.61,0,3.47-2.61,4.69-5.43,4.69l5.14,7.92h-2.52l-4.86-7.92h-3.8v7.92h-2.21Zm2.21,7.67h5.07c1.58,0,4.19-.28,4.19-3.14,0-2.57-2.32-2.9-4.4-2.9h-4.86Z', transform='translate(-175.06 -426.33)')


    a.header__nav-item(href="news.html") Новости
    a.header__nav-item(href="contacts.html") Контакты
a.offcanvas__button(href="#offcanvas",uk-toggle)
  svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 44 44', style='enable-background:new 0 0 44 44;', xml:space='preserve')
    g#lines(transform='translate(931.528 827.372)')
      line.offcanvas__button-path(x1='-899', y1='-805.4', x2='-921', y2='-805.4')
      line.offcanvas__button-path(x1='-899', y1='-811.4', x2='-921', y2='-811.4')
      line.offcanvas__button-path(x1='-899', y1='-799.4', x2='-921', y2='-799.4')
    circle.offcanvas__button-circle(cx='22', cy='22', r='21.5')
