header(uk-sticky="bottom: .page-lead--product").header
  div(uk-navbar="dropbar: true; boundary: .header; boundary-align: true").header__wrap
    a.header__logo(href="/preview/melsytech/")
      img(src="./assets/logo.svg", alt="Melsytech")
    nav.header__nav
      a(href="catalog.html").header__nav-item.header__nav-item--active Каталог
      div(uk-dropdown="mode:hover; boundary: .header; boundary-align: true").header__dropdown.header__dropdown--catalog
        .header__catalog
          .header__catalog-column
            a(href="catalog.html").header__catalog-title Косметология эпиляция
            ul.header__catalog-items
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
          .header__catalog-column
            a(href="catalog.html").header__catalog-title Косметология эпиляция
            ul.header__catalog-items
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
          .header__catalog-column
            a(href="catalog.html").header__catalog-title Косметология эпиляция
            ul.header__catalog-items
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
          .header__catalog-column
            a(href="catalog.html").header__catalog-title Косметология эпиляция
            ul.header__catalog-items
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
          .header__catalog-column
            a(href="catalog.html").header__catalog-title Косметология эпиляция
            ul.header__catalog-items
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")
              li: a(href="/").header__catalog-item
                img(src="assets/magic-superfull-logo.png", alt="")

      a(href="about.html").header__nav-item Компания
      div(uk-dropdown="boundary: .header; boundary-align: true").header__dropdown.header__dropdown--company
        ul.header__company-menu
          li: a.header__company-menu-item(href="/") О компании
          li: a.header__company-menu-item(href="/") Производство
          li: a.header__company-menu-item(href="/") Наши партнеры
          li: a.header__company-menu-item(href="/") Новости
          li: a.header__company-menu-item(href="/") Публикации в СМИ
          li: a.header__company-menu-item(href="/") Отзывы

      a(href="appliance-catalog.html").header__nav-item Области применения
      div.header__dropdown.header__dropdown--appliance.uk-dropdown-scrollable(uk-dropdown="boundary: .header; boundary-align: true")
        .header__dropdown-wrap
          .header__dropdown-left
            .header__dropdown-menu-wrap
              a(href="appliance.html",data-appliance="cosmetology").header__dropdown-menu-section Косметология
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/", data-appliance="cosmetology,surgeo") Эпиляция
                li: a.header__dropdown-menu-item(href="/", data-appliance="phlebology,ololoringology") Лазерное омоложение
                li: a.header__dropdown-menu-item(href="/", data-appliance="surgeo,ololoringology") Карбоновый пилинг
                li: a.header__dropdown-menu-item(href="/") Удаление татуировок
                li: a.header__dropdown-menu-item(href="/") Коррекция перманентного макияжа
                li: a.header__dropdown-menu-item(href="/") Полировка кожи
                li: a.header__dropdown-menu-item(href="/") Лечении внешних проявлений акне
                li: a.header__dropdown-menu-item(href="/") Лечении шрамов пост-акне
                li: a.header__dropdown-menu-item(href="/") Лечение мелазмы и гиперпигментации
                li: a.header__dropdown-menu-item(href="/") Удаление пигментных пятен
                li: a.header__dropdown-menu-item(href="/") Коррекция расширенных пор кожи
                li: a.header__dropdown-menu-item(href="/") Удаление гемангиом и винных пятен
                li: a.header__dropdown-menu-item(href="/") Лечение сосудистой патологии
                li: a.header__dropdown-menu-item(href="/") Эпиляция гормон-зависимых зон
                li: a.header__dropdown-menu-item(href="/") Коррекция рубцовой ткани
                li: a.header__dropdown-menu-item(href="/") Лечении вирусных бородавок
                li: a.header__dropdown-menu-item(href="/") Лечение онихомикозов
            .header__dropdown-menu-wrap
              a(href="appliance.html",data-appliance="ginekology").header__dropdown-menu-section Гинекология
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Лечение стрессового недержания мочи
                li: a.header__dropdown-menu-item(href="/") Лечение пролапса гениталий 1-2 стадии
                li: a.header__dropdown-menu-item(href="/") Лечение синдрома вагинальной релаксации
                li: a.header__dropdown-menu-item(href="/") Лечение генито-уринарного синдрома
                li: a.header__dropdown-menu-item(href="/") Интимное омоложение
                li: a.header__dropdown-menu-item(href="/") Послеродовое восстановление
                li: a.header__dropdown-menu-item(href="/") Лечение вульво-вагинальной атрофии
                li: a.header__dropdown-menu-item(href="/") Лечение сексуальных дисфункций
            .header__dropdown-menu-wrap
              a(href="appliance.html",data-appliance="phlebology").header__dropdown-menu-section Флебология
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Венозная лазерная коагуляция (EVLC)
                li: a.header__dropdown-menu-item(href="/") Чрезкожная лазерная коагуляция сосудистых образований
                li: a.header__dropdown-menu-item(href="/") Удаление артериальных и венозных сосудов диаметром
            .header__dropdown-menu-wrap
              a(href="appliance.html",data-appliance="surgeo").header__dropdown-menu-section Хирургия
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Удаление новообразований кожи
                li: a.header__dropdown-menu-item(href="/") Липомоделирование / липосакция
                li: a.header__dropdown-menu-item(href="/") Лазерное лечение гипергидроза
                li: a.header__dropdown-menu-item(href="/") Неинвазивный лазерный липолиз
            .header__dropdown-menu-wrap
              a(href="appliance.html",data-appliance="proktology").header__dropdown-menu-section Проктология
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Лечение геморроя методом сосудистой коагуляции
            .header__dropdown-menu-wrap
              a(href="appliance.html",data-appliance="ololoringology").header__dropdown-menu-section Отолорингология
              ul.header__dropdown-menu
                li: a.header__dropdown-menu-item(href="/") Возможности аппарата в области отолорингологии
          .header__dropdown-right
            //- a(href="#").header__dropdown-product
              .header__dropdown-product-image
                img(src="assets/magic_super_full.png", alt="Magic Super Full")
              .header__dropdown-product-logo
                img(src="assets/magic-superfull-logo.png", alt="Magic Super Full")
            .header__appliance
              .header__appliance-title Аппараты серии Magic
              .header__appliance-items
                +header-appliance-item({appliance: 'ginekology,surgeo,cosmetology', image: 'magic-one-logo.png'})
                +header-appliance-item({appliance: 'phlebology,surgeo', image: 'magic-lite-logo.png'})
                +header-appliance-item({appliance: 'phlebology,ololoringology', image: 'magic-bella-logo.png'})
                +header-appliance-item({appliance: 'ginekology,ololoringology', image: 'magic-slim-logo.png'})
                +header-appliance-item({appliance: 'phlebology,surgeo', image: 'magic-super-logo.png'})
                +header-appliance-item({appliance: 'phlebology,surgeo,cosmetology', image: 'magic-superfull-logo.png'})
                +header-appliance-item({appliance: 'phlebology,cosmetology', image: 'magic-pico-logo.png'})
                +header-appliance-item({appliance: 'cosmetology', image: 'magic-fr-logo.png'})
                +header-appliance-item({appliance: ',cosmetology,surgeo', image: 'magic-max-logo.png'})
                +header-appliance-item({appliance: ',cosmetology', image: 'magic-gyno-logo.png'})
                +header-appliance-item({appliance: ',cosmetology,ololoringology', image: 'magic-oct-logo.png'})

      a(href="technology-catalog.html").header__nav-item Технологии

      a(href="#").header__nav-item Сервис

      a(href="contacts.html").header__nav-item Контакты

  .header__tools
    a(href="#offcanvas-consult", uk-toggle).header__tools-item.header__consult Консультация
    a(href="#").header__tools-item.header__search
      +svg({ name: 'search' })
    div(uk-dropdown="mode: click; boundary: .header; boundary-align: true;animation: uk-animation-slide-top-small").header__dropdown.header__dropdown--search
      form.header__search-form(action="")
        input.header__search-input(type="search", placeholder="Поиск по сайту", name="search", autocomplete="off")
        span.header__search-clear
          +svg({name: 'plus'})
        button.header__search-submit(type="submit")
    a.header__tools-item.header__language(href="#") RU
    //- ul(uk-drop="mode: click").header__tools-item.header__language-dropdown
      li: a(href="#") EN
    .header__burger
      a.header__burger-link(href="#offcanvas", uk-toggle)
        span