extends ../layout/main

block variables
  - var title = 'Sarova';
  - var description = 'Description';
  - var pageClass = 'page--products';
  - var mainClass = 'main--content';
  - var scrollSpy = 'cls: uk-animation-slide-bottom-small; delay: 200'

block content
  .content__title-wrap
    .content__subtitle Компания
    .content__menu
      a(href="company.html").content__menu-item О компании
      a(href="history.html").content__menu-item История
      a(href="acheivements.html").content__menu-item.content__menu-item--active Достижения и награды
      a(href="clients.html").content__menu-item Клиентам
    .content__lead Наши принципы и&nbsp;философия&nbsp;&mdash; не&nbsp;просто слова. Реальным подтверждением правильности этих установок являются дипломы, благодарности и&nbsp;сертификаты качества.
    a.content__scrolldown.button--scrolldown(href="#content")
      +svg({name: 'arrow-down'})

  .content__container#content
    .content__section
      .acheivements__list(uk-lightbox)
        +acheivement-item({img: 'acheivement-image-01.jpg', title: '100 лучших товаров года', desc: 'Диплом. Москва. 2001 г.'})
        +acheivement-item({img: 'acheivement-image-02.jpg', title: 'Благодарность за поддержку', desc: 'Грамота. Саров. 2002 г.'})

  .content__container-wider
    .acheivements__awards
      .acheivements__awards-subtitle Награды
      //- .acheivements__awards-title Мы являемся лауреатами и победителями множества профессиональных конкурсов как регионального, так и федерального значения.
      
      .acheivements__awards-grid(uk-grid, class="uk-child-width-1-4@s")
        +acheivement-award({img: 'acheivement-awards-01.png', title: 'Победитель Всероссийского конкурса «1000 лучших предприятий и организаций России» Диплом, Москва.'})
        +acheivement-award({img: 'acheivement-awards-02.png', title: 'Региональный проект «Лидер года» Диплом «Лидер отрасли», Нижний Новгород.'})
        +acheivement-award({img: 'acheivement-awards-03.png', title: 'European standard Certificate, Strasburg.'})
        +acheivement-award({img: 'acheivement-awards-04.png', title: ''})
