extends ../layout/main

block variables
  - var title = 'Sarova';
  - var description = 'Description';
  - var pageClass = 'page--product';
  - var mainClass = 'main--classic';
  - var scrollSpy = 'cls: uk-animation-slide-bottom-small; delay: 200'

block content
  .classic__intro#first-screen
    .classic__bg(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 200")
      img(src="assets/section-3-bg.svg", alt="").classic__bg-image
    .classic__title-wrap(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 400")
      .classic__subtitle.content__subtitle Продукция
      .classic__title 
        | Восемь
        br
        | классических
        br
        | лимонадов
      .classic__desc 
       | Колокольчик / Лимонад /  Крем-Сода / Тархун 
       br
       | Дюшес / Саяны / Ситро / Крюшон
        
    .classic__bottles.scrollspy__container(uk-scrollspy="target: > img; cls: uk-animation-slide-bottom-small; delay: 100")
      img.classic__bottle.classic__bottle-1(src="assets/classic-01.png", alt="")
      img.classic__bottle.classic__bottle-2(src="assets/classic-02.png", alt="")
      img.classic__bottle.classic__bottle-3(src="assets/classic-03.png", alt="")
      img.classic__bottle.classic__bottle-4(src="assets/classic-04.png", alt="")
      img.classic__bottle.classic__bottle-2-1(src="assets/classic-05.png", alt="")
      img.classic__bottle.classic__bottle-2-2(src="assets/classic-06.png", alt="")
      img.classic__bottle.classic__bottle-2-3(src="assets/classic-07.png", alt="")
      img.classic__bottle.classic__bottle-2-4(src="assets/classic-08.png", alt="")

      
    a.classic__scrolldown.button--scrolldown(href="#second-screen")
      +svg({name: 'arrow-down'})


  .classic__section#second-screen
    .classic__section-title.h3(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 200") Уже более 20 лет лимонад — традиционный напиток семейных праздников, спутник дружеских посиделок и герой душевных разговоров с родными и близкими людьми.

    +classic-block({num: '01', title: 'Колокольчик', class: 'kolokol', text: '«Колокольчик» — это освежающий цитрусовый вкус с приятной горчинкой лимонной цедры. В нескольких уездах Орловской губернии издавна держали «колокольные» пасеки — настоящие плантации колокольчиков. По существовавшему тогда поверью, колокольчик — растение богоугодное, ибо формой напоминает церковный колокол.'})
    +classic-block({num: '02', title: 'Саяны',  class: 'sayany', text: '«Колокольчик» — это освежающий цитрусовый вкус с приятной горчинкой лимонной цедры. В нескольких уездах Орловской губернии издавна держали «колокольные» пасеки — настоящие плантации колокольчиков. По существовавшему тогда поверью, колокольчик — растение богоугодное, ибо формой напоминает церковный колокол.'})
    +classic-block({num: '03', title: 'Лимонад',  class: 'lemonade', text: '«Колокольчик» — это освежающий цитрусовый вкус с приятной горчинкой лимонной цедры. В нескольких уездах Орловской губернии издавна держали «колокольные» пасеки — настоящие плантации колокольчиков. По существовавшему тогда поверью, колокольчик — растение богоугодное, ибо формой напоминает церковный колокол.'})
    +classic-block({num: '04', title: 'Дюшес', class: 'dushes', text: '«Колокольчик» — это освежающий цитрусовый вкус с приятной горчинкой лимонной цедры. В нескольких уездах Орловской губернии издавна держали «колокольные» пасеки — настоящие плантации колокольчиков. По существовавшему тогда поверью, колокольчик — растение богоугодное, ибо формой напоминает церковный колокол.'})
    +classic-block({num: '05', title: 'Крем-сода', class: 'creamsoda', text: '«Колокольчик» — это освежающий цитрусовый вкус с приятной горчинкой лимонной цедры. В нескольких уездах Орловской губернии издавна держали «колокольные» пасеки — настоящие плантации колокольчиков. По существовавшему тогда поверью, колокольчик — растение богоугодное, ибо формой напоминает церковный колокол.'})
    +classic-block({num: '06', title: 'Ситро', class: 'sitro', text: '«Колокольчик» — это освежающий цитрусовый вкус с приятной горчинкой лимонной цедры. В нескольких уездах Орловской губернии издавна держали «колокольные» пасеки — настоящие плантации колокольчиков. По существовавшему тогда поверью, колокольчик — растение богоугодное, ибо формой напоминает церковный колокол.'})
    +classic-block({num: '07', title: 'Тархун', class: 'tarhun', text: '«Колокольчик» — это освежающий цитрусовый вкус с приятной горчинкой лимонной цедры. В нескольких уездах Орловской губернии издавна держали «колокольные» пасеки — настоящие плантации колокольчиков. По существовавшему тогда поверью, колокольчик — растение богоугодное, ибо формой напоминает церковный колокол.'})
    +classic-block({num: '08', title: 'Крюшон', class: 'krushon', text: '«Колокольчик» — это освежающий цитрусовый вкус с приятной горчинкой лимонной цедры. В нескольких уездах Орловской губернии издавна держали «колокольные» пасеки — настоящие плантации колокольчиков. По существовавшему тогда поверью, колокольчик — растение богоугодное, ибо формой напоминает церковный колокол.'})
   






  .related
    h2.related__title.h2 Попробуйте также
    .related__lead Разнообразие вкуса и&nbsp;цвета напитков &laquo;Сарова&raquo; хватит на&nbsp;всех товарищей.

  .products.products--column
    +product-water()
    +product-time()
