extends ../layout/main

block variables
  - var title = 'Sarova';
  - var description = 'Description';
  - var pageClass = 'page--products';
  - var mainClass = 'main--content';
  - var scrollSpy = 'cls: uk-animation-slide-bottom-small; delay: 200'

block content
  .content__title-wrap
    .content__subtitle Компания
    .content__menu
      a(href="company.html").content__menu-item О компании
      a(href="history.html").content__menu-item История
      a(href="acheivements.html").content__menu-item Достижения и награды
      a(href="clients.html").content__menu-item.content__menu-item--active Клиентам
    .content__text Настоящий документ направлен на поддержание открытости Компании для контрагентов, исключение возможности создания дискриминационных условий для контрагентов, а также иных возможных злоупотреблений со стороны Компании, и нацелен на соблюдение требований, установленных действующим законодательством Российской Федерации, в частности, Федеральным законом от 28.12.2009 N 381-ФЗ "Об основах государственного регулирования торговой деятельности в Российской Федерации".
    a.content__scrolldown.button--scrolldown(href="#content")
      +svg({name: 'arrow-down'})

  .content__container#content
    .content__section
      .content__lead.content__lead--fullwidth Настоящий документ содержит информацию об условиях отбора контрагентов – хозяйствующих субъектов, для заключения договора поставки продовольственных товаров и о существенных условиях такого договора. Во избежание каких-либо сомнений ни одно положение настоящего документа не может признаваться офертой на заключение указанного договора.
      .content__article
        h4 1. Термины и определения
        p Компания – АО «Минеральная вода и напитки»; Покупатель – юридическое лицо, осуществляющее торговую деятельность; Договор поставки – договор поставки продукции, заключенный(-емый) между Компанией и Покупателем;  Продукция – продовольственные товары, производимые и/или реализуемые Компанией.
        h4 2. Общие положения
        p Компания поставляет Продукцию Покупателям на основании подписанного Договора поставки Продукции.  В процессе переговоров о заключении Договора поставки Компания вправе предложить Покупателю к рассмотрению типовую форму договора, разработанную Компанией, равно как и рассмотреть условия договора, форма которого разработана Покупателем.  Предлагаемая Компанией типовая форма Договора поставки не является договором присоединения, содержит условия и права, обычно предоставляемые по договорам такого вида. Все условия поставки подлежат согласованию Компанией и Покупателем в процессе равных переговоров в соответствии с экономическими интересами каждой из сторон. При заключении Договора поставки Продукции Компания руководствуется принципами законности, добросовестности, свободного волеизъявления сторон и взаимовыгодного сотрудничества, основанного на учете прав и законных интересов контрагентов и направленного на достижение цели договора обеими сторонами. Договор поставки Продукции считается заключенным с момента достижения Компанией и Покупателем соглашения по всем существенным условиям Договора, предлагаемых каждой из вступающих в договор сторон. Достижение соглашения сторон оформляется в виде подписанного уполномоченными представителями сторон Договора поставки. Перечень указанных в настоящем документе существенных условий не является окончательным или исчерпывающим. Так, например, при согласовании существенных условий Договора поставки с Покупателем, Компания вправе изменять или дополнять указанные в настоящем документе условия с учетом позиции контрагента, хода переговорного процесса и применения вышеуказанных принципов заключения Договора поставки Продукции, а также в случае изменения  законодательства Российской Федерации.
        h4 3. Ассортимент и требования к Продукции.
        p Продукция поставляется в соответствии с согласованными Покупателем и Компанией заказами в ассортименте, в соответствии с действующим прайс-листом Компании. Товар поставляется в поддонах/или иной таре на усмотрение Компании.
        h4 4. Цена Продукции и порядок ее оплаты
        p  Цена Продукции определяется в соответствии с прайс-листом Компании на дату поставки Продукции, если иное не согласовано Сторонами в Договоре. Информация о действующем прайс-листе предоставляется Покупателю по его запросу или в ином согласованном сторонами порядке. Продукция оплачивается Покупателем в согласованном сторонами порядке.  В случае оплаты Продукции после её отгрузки (передачи) Покупателю (на условиях предоставления отсрочки платежа), Компания вправе потребовать предоставления обеспечения исполнения обязательства Покупателя по оплате поставленной ему Продукции. Срок оплаты Продукции не может превышать установленный законодательством России предельный срок оплаты Продукции. 
        h4 5. Условия поставки (передачи) Продукции Покупателю.
        p Компания осуществляет поставки Продукции по адресам, согласованным с Покупателем в Договоре поставки (или приложении к нему). Доставка Продукции осуществляется в согласованные Компанией и Покупателем сроки.  По согласованию с Покупателем Компания вправе осуществлять доставку Продукции на условиях самовывоза со склада Компании. 
        h4 6. Количество поставляемой Продукции 
        p Компания поставляет Продукцию партиями исключительно в количестве кратном упаковке Продукции. Количество конкретной партии Продукции согласовывается сторонами путем направления Покупателем заявки (заказа) на поставку Продукции Компании и подтверждения Компанией такой заявки (заказа), в том числе с использованием электронного документооборота (EDI). Заявка (заказ) на поставку отдельной партии исполняется Компанией в согласованном сторонами количестве. Компания вправе устанавливать минимальное количество Продукции (в том числе конкретной заказываемой ассортиментной единицы), которое может быть поставлено Покупателю в рамках одной заявки (заказа) по адресу, согласованному сторонами в приложении к Договору поставки. Информация о таком минимальном количестве предоставляется Покупателю по его запросу.
        h4 7. Документы на Продукцию
        p Поставка Продукции сопровождается документами, предусмотренными действующим на момент поставки законодательством. Стороны вправе согласовать в Договоре дополнительные условия предоставления/обмена документами при поставке Продукции.
      .content__documents
        .content__document
          .content__document-icon
            img(src="assets/document-icon.svg", alt="")
          .content__document-name Декларация о соответствии, лимонад 1
          .content__document-file PDF, 653 Kb

