extends ../layout/main

block variables
  - var title = 'Sarova';
  - var description = 'Description';
  - var pageClass = 'page--contacts';
  - var mainClass = 'main--content';
  - var scrollSpy = 'cls: uk-animation-slide-bottom-small; delay: 200'

block content
  //- .content__title-wrap
    //- .content__title Главный офис

  .contacts__container#content
    .content__subtitle(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 200") Контакты
    .contacts__title(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 200") Главный офис
    .contacts__section(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 400")
      .contacts__city Саров
      .contacts__info
        .contacts__info-title Адрес офиса
        .contacts__info-data 607188, Нижегородская обл., г. Саров, ул. Димитрова, д. 62, стр. 21
    
        .contacts__info-title Телефоны
        .contacts__info-data +7 (83130) 64-817, 64-728

        .contacts__info-title E-mail
        .contacts__info-data: a(href="mailto:sarova@sarova.ru") sarova@sarova.ru

        a.contacts__info-contact(href) Написать нам
      .contacts__map
        script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af43370b154e9c2faf3525066820a3e4ceeff17c384a1800f7c758e4fe26ebf08&width=100%25&height=400&lang=ru_RU&scroll=true')


    .contacts__title(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 200") Представительство
    .contacts__section(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 400")
      .contacts__city Нижний Новгород
      .contacts__info
        .contacts__info-title Адрес офиса
        .contacts__info-data 603140, г. Нижний Новгород, пер. Мотальный 10а, офис 24
    
        .contacts__info-title Телефоны
        .contacts__info-data +7 (831) 217-78-98

        .contacts__info-title E-mail
        .contacts__info-data: a(href="mailto:nn@sarova.ru") nn@sarova.ru

        a.contacts__info-contact(href) Написать нам
      .contacts__map
        script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac6289a7e497448939b143f4c169ea28e8564133c413ed7a98414c7551b36fc4f&width=100%25&height=400&lang=ru_RU&scroll=true')


    .contacts__title(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 200") Дистрибьюторы

    +distributor({name: 'Источник', desc: 'Крупнейший дистрибьютор продуктов питания по Нижегородской области с 1992 г.', address: '603034 г. Нижний Новгород, ул. Шмидта, 1б', phone: '+7 (831) 257-82-56,  245-50-96,  245-22-62', email: 'afgroup@gmail.com', website: '', logo: 'distributor-logo-01.png'})
    +distributor({name: 'ИП Баженов С.В', desc: 'Первый поставщик минеральных вод и напитков по Нижнему Новгороду и области.', address: '603034, г. Нижний Новгород, ул. Лейтенанта Шмидта, д. 4 А.', phone: '+7 (831) 257-82-56,  245-50-96,  245-22-62', email: 'bazhenovsv@mail.ru', website: '', logo: '1px.png'})
    +distributor({name: 'Группа компаний Минеральные воды', desc: 'Оптово-розничная торговля минеральной и природной питьевой водой; доставка по городу и области собственным автотранспортом', address: 'г. Нижний Новгород, ул. Шлиссельбургская, д.23а, корп.3', phone: '+7 (831) 275 95 48, 245 04 68, 245 14 44, 245 48 48', email: 'mw@minwater-nnov.ru', website: 'www.minwater-nnov.ru', logo: 'distributor-logo-mv.png'})
    +distributor({name: 'Азимут Восток', desc: 'Дистрибьютор минеральной воды  по Москве и Московской области. ', address: '111141 г. Москва. Электродный проезд, д. 14 стр. 1. ', phone: '+7 (495) 995-80-58, +7(495) 514-55-18 ', email: 'info@voda-sarova.ru', website: 'www.voda-sarova.ru ', logo: '1px.png'})