extends ../layout/main

block variables
  - var title = 'Sarova';
  - var description = 'Description';
  - var pageClass = 'page--products';
  - var mainClass = 'main--content';
  - var scrollSpy = 'cls: uk-animation-slide-bottom-small; delay: 200'

block content
  .content__title-wrap
    .content__subtitle Компания
    .content__menu
      a(href="company.html").content__menu-item О компании
      a(href="history.html").content__menu-item.content__menu-item--active История
      a(href="acheivements.html").content__menu-item Достижения и награды
      a(href="clients.html").content__menu-item Клиентам
    .content__lead Саровская вода помнит мир в его первозданной чистоте — ещё до появления цивилизации. Она гармонично сочетает кристальную прозрачность, натуральный вкус и целебные свойства. Их обеспечивает сбалансированная гидрокарбонатная магниево-кальциевая формула. 
    a.content__scrolldown.button--scrolldown(href="#content")
      +svg({name: 'arrow-down'})

  .content__container#content
    .content__section
      .content__image
        img(src="assets/history-logo.svg", alt="")
      .content__section-title Первые документальные сведения о подземных источниках минеральной воды в окрестностях Саровского монастыря датируются серединой XIX века. 
      .history__table
        +history-row({year: '1999', title: 'Строительство завода для розлива природной минеральной воды «Сарова»', desc: 'Акционерное общество «Минеральная вода и напитки», в рамках совместного проекта правительства Нижегородской области и министерства экономики королевства  Нидерландов, построило завод для розлива природной минеральной воды «Сарова», который был оснащен самым современным оборудованием, отвечающим высшим стандартам качества.'})
        +history-row({year: '2000', title: 'На рынке появились лимонады «Сарова» ', desc: 'Уже в 2000 году на рынке появились лимонады «Сарова», создаваемые на основе классической рецептуры и природной минеральной воды. Первоначально лимонад был представлен в пяти классических вариантах — «Колокольчик», «Лимонад», «Крем-Сода», «Тархун» и «Дюшес». Со временем ассортимент был расширен новыми вкусами — «Саяны», «Ситро» и «Крюшон».'})
        +history-row({year: '2005', title: 'Производственные мощности производительностью 9000 бутылок в час', desc: 'В 2005 году ОАО «Минеральная вода и напитки» ввело в эксплуатацию новые производственные мощности производительностью 9000 бутылок в час. Технологическая линия полностью автоматизирована, на долю человека остается только контроль. Благодаря новой линии по розливу, производительность предприятия выросла в два с половиной раза, что помогло удовлетворить все возрастающий спрос на минеральную воду и лимонады «Сарова».'})
        +history-row({year: '2014', title: 'Производство нового продукта — воды «Сарова Premium»', desc: 'В 2014 году компания начала производство нового продукта - воды «Сарова Premium» объемом 0,5л. Стеклянная бутылка сохраняет все уникальные свойства природной воды и позволяет наиболее бережно донести до Вас всю ее пользу.'})
        +history-row({year: '2016', title: 'Производство нового продукта — воды «Сарова Time»', desc: 'В 2014 году компания начала производство нового продукта - воды «Сарова Premium» объемом 0,5л. Стеклянная бутылка сохраняет все уникальные свойства природной воды и позволяет наиболее бережно донести до Вас всю ее пользу.'})
