extends ../layout/main

block variables
  - var title = 'Sarova';
  - var description = 'Description';
  - var pageClass = 'page--product';
  - var mainClass = 'main--time';
  - var scrollSpy = 'cls: uk-animation-slide-bottom-small; delay: 200'

block content
  .time__intro#first-screen
    .time__bg(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 200")
      video(playsinline="playsinline",muted="muted", autoplay="autoplay", loop="loop", src="assets/section-2-bg.mp4").time__bg-video
      .time__bottles-bg
        //- img(src="assets/time-bottles-bg.svg", alt="")
        +svg({name:'time-logo', viewbox: '0 0 413.948 159.699'}).bottle-color-hover(style="fill: #fe5a3e")

    .time__title-wrap(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 400")
      .time__subtitle.content__subtitle Продукция
      .time__title Сарова Time
        

    .time__bottles.scrollspy__container(uk-scrollspy="target: >*; cls: uk-animation-slide-bottom-small; delay: 300")
      +time-bottle({img: 'bottle-time-lemon.png', name: 'Лимон', link: '#lemon', color: 'rgb(192,206,46)', color2: 'rgb(166,194,54)'})
      +time-bottle({img: 'bottle-time-orange.png', name: 'Апельсин', link: '#orange', color: 'rgb(220,145,27)', color2: 'rgb(211,113,28)'})
      +time-bottle({img: 'bottle-time-grapefruit.png', name: 'Грейпфрут', link: '#grapefruit', color: 'rgb(209,107,105)', color2: 'rgb(206,76,82)'})
      
    a.time__scrolldown.button--scrolldown.bottle-color-hover.bottle-color-hover-button(href="#second-screen",uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 1000")
      +svg({name: 'arrow-down'})


  .time__section#second-screen
    .time__section-title.h3(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 200") Огненный апельсин, яркий лимон и&nbsp;взрывной грейпфрут! Крутые цитрусы в&nbsp;каждой бутылке Сарова TIME. Время утолить жажду со&nbsp;вкусом.

    .time__block.time__block--lemon#lemon
      .time__block-image
        .time__block-bg(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 400")
          .time__block-bg-logo
            +svg({name: 'time-logo'})
          //- img(src="assets/time-block-bg.png", alt="")
          video(playsinline="playsinline",muted="muted", autoplay="autoplay", loop="loop", src="assets/section-2-bg.mp4")
        .time__block-bottles(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 600")
          img(src="assets/time-block-bottles-lemon.png", alt="")
      .time__block-content(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 800")
        .time__block-title.h2 Lemon
        .time__block-text Кристальная чистота минеральной воды в&nbsp;сочетании с&nbsp;проверенным веками рецептом классического лимонада. Освежающая кислинка для заряда бодрости на&nbsp;целый день.
        .time__block-label Объем — 0.5 л, 1.5 л

    .time__block.time__block--orange#orange
      .time__block-image
        .time__block-bg(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 400")
          .time__block-bg-logo
            +svg({name: 'time-logo'})
          //- img(src="assets/time-block-bg.png", alt="")
          video(playsinline="playsinline",muted="muted", autoplay="autoplay", loop="loop", src="assets/section-2-bg.mp4")
        .time__block-bottles(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 600")
          img(src="assets/time-block-bottles-orange.png", alt="")
      .time__block-content(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 800")
        .time__block-title.h2 Orange
        .time__block-text Апельсин&nbsp;&mdash; &laquo;маленькое солнце&raquo;, которого порой так не&nbsp;хватает. Придаст сил и&nbsp;поднимет настроение в&nbsp;любой сезон и&nbsp;время суток.
        .time__block-label Объем — 0.5 л, 1.5 л

    .time__block.time__block--grapefruit#grapefruit
      .time__block-image
        .time__block-bg(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 400")
          .time__block-bg-logo
            +svg({name: 'time-logo'})
          //- img(src="assets/time-block-bg.png", alt="")
          video(playsinline="playsinline",muted="muted", autoplay="autoplay", loop="loop", src="assets/section-2-bg.mp4")
        .time__block-bottles(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 600")
          img(src="assets/time-block-bottles-grapefruit.png", alt="")
      .time__block-content(uk-scrollspy="cls: uk-animation-slide-bottom-small; delay: 800")
        .time__block-title.h2 Grapefruit
        .time__block-text Сладость апельсина, кислота лимона, самобытный горьковатый привкус&nbsp;&mdash; это всё про грейпфрут. Лимонад, который хорош сам по&nbsp;себе и&nbsp;в&nbsp;составе коктейлей.
        .time__block-label Объем — 0.5 л, 1.5 л

  .related
    h2.related__title.h2 Попробуйте также
    .related__lead Разнообразия вкуса и&nbsp;цвета напитков &laquo;Сарова&raquo; хватит на&nbsp;всех!

  .products.products--column
    +product-water()
    +product-classic()
    +product-red()
