@mixin font-body {
  $fhd-base-size: 1.9 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.7;

  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
    // font-size: calc(
    //   #{responsive-value(
    //       $tablet-base-size / 2,
    //       $fhd-base-size / 2,
    //       $breakpoint-small,
    //       $fhd-width,
    //       'w'
    //     )} + #{responsive-value(
    //       $tablet-base-size / 2,
    //       $fhd-base-size / 2,
    //       $mobile-min-height,
    //       $fhd-height,
    //       'h'
    //     )}
    // );
  }
}

@mixin font-base {
  $fhd-base-size: 1.9 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.7;

  font-size: 1.6rem;
  line-height: 1.68;
  font-weight: 500;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
  }
}

@mixin font-h1 {
  $fhd-base-size: 7 * $base-font-size;
  $tablet-min-size: $fhd-base-size * 0.8;
  $tablet-base-size: $fhd-base-size * 0.8;
  $desktop-min-size: $fhd-base-size * 0.6;

  font-family: $font-heading;
  font-size: 3.8rem;
  line-height: 1.12;
  font-weight: 600;
  letter-spacing: 0;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-min-size,
      $tablet-base-size,
      $breakpoint-small,
      $breakpoint-medium-max,
      'w'
    );
  }

  @media (min-width: $breakpoint-medium) {
    font-size: responsive-value(
      $desktop-min-size,
      $fhd-base-size,
      $breakpoint-medium,
      $fhd-width,
      'w'
    );
  }
}

@mixin font-h2 {
  $fhd-base-size: 6 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.6;
  $desktop-min-size: $fhd-base-size * 0.6;

  font-family: $font-heading;
  font-size: 2.6rem;
  line-height: 1.18;
  font-weight: 400;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
  }
  @media (min-width: $breakpoint-medium) {
    font-size: responsive-value(
      $desktop-min-size,
      $fhd-base-size,
      $breakpoint-medium,
      $fhd-width,
      'w'
    );
  }
}

@mixin font-h3 {
  $fhd-base-size: 5 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.8;

  font-family: $font-heading;

  font-size: 2.6rem;
  line-height: 1.18;
  font-weight: 400;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
  }
}

@mixin font-40 {
  $fhd-base-size: 4 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.6;

  font-size: 2.5rem;
  font-family: $font-menu-2;
  line-height: 1.18;
  font-weight: 900;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
  }
}

// sections title
@mixin font-heading-large {
  $fhd-base-size: 10 * $base-font-size;
  $tablet-min-size: $fhd-base-size * 0.6;
  $tablet-base-size: $fhd-base-size * 0.8;
  $desktop-min-size: $fhd-base-size * 0.6;

  font-family: $font-heading;
  font-size: 3rem;
  line-height: 1.12;
  font-weight: 400;
  letter-spacing: 0;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-min-size,
      $tablet-base-size,
      $breakpoint-small,
      $breakpoint-medium-max,
      'w'
    );
  }

  @media (min-width: $breakpoint-medium) {
    font-size: responsive-value(
      $desktop-min-size,
      $fhd-base-size,
      $breakpoint-medium,
      $fhd-width,
      'w'
    );
  }
}

// section 2 text
@mixin font-lead {
  $fhd-base-size: 2.8 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.6;

  font-size: 1.7rem;
  line-height: 1.48;
  font-weight: 500;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
  }
}

@mixin font-small {
  $fhd-base-size: 1.6 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.8;

  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
  }
}

@mixin font-button {
  $fhd-base-size: 1.6 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.8;

  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.01;

  @media (min-width: $breakpoint-medium) {
    font-size: calc(
      #{responsive-value(
          $tablet-base-size,
          $fhd-base-size,
          $breakpoint-medium,
          $fhd-width,
          'w'
        )}
    );
  }
}

@mixin font-menu {
  $fhd-base-size: 1.4 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.8;

  font-size: 1.4rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: $color-accent;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: $color-accent-2;
  }

  @media (min-width: $breakpoint-small) {
    font-size: calc(
      #{responsive-value(
          $tablet-base-size,
          $fhd-base-size,
          $breakpoint-small,
          $fhd-width,
          'w'
        )}
    );
  }
}

@mixin font-subtitle {
  $fhd-base-size: 1.4 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.8;

  font-family: $font-menu-2;
  font-weight: 700;

  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: $color-accent;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: responsive-value(31px, 43px);

  @media (min-width: $breakpoint-small) {
    font-size: calc(
      #{responsive-value(
          $tablet-base-size,
          $fhd-base-size,
          $breakpoint-small,
          $fhd-width,
          'w'
        )}
    );
  }
}

@mixin font-label {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgba($color-black, 0.4);
  text-align: center;
  letter-spacing: 0.02;

  @media (min-width: $breakpoint-small) {
    font-size: 1.3rem;
  }
}

@mixin block-margins {
  margin-left: $container-margin;
  margin-right: $right-margin;
}
@mixin block-paddings {
  padding-left: $container-margin;
  padding-right: $right-margin;
}

@mixin container {
  max-width: calc(#{$column-width-small} * 2);
  margin: 0 auto;
  width: 100%;

  @media (min-width: $breakpoint-small) {
    width: calc(#{$column-width-medium} * 4);
  }
  @media (min-width: $breakpoint-medium) {
    width: calc(#{$column-width} * 6);
  }
}

@mixin container-wide {
  max-width: calc(#{$column-width-small} * 2);
  margin: 0 auto;
  width: 100%;

  @media (min-width: $breakpoint-small) {
    width: calc(#{$column-width-medium} * 4);
  }
  @media (min-width: $breakpoint-medium) {
    width: calc(#{$column-width} * 7);
  }
}
@mixin container-wider {
  max-width: calc(#{$column-width} * 8);
  margin: 0 auto;
}

@mixin link-underline {
  text-decoration: underline;
  text-decoration-color: rgba($color-accent, 0.4);
  text-decoration-thickness: 1px;
  text-underline-offset: 6px;
}

@mixin animation-hovering {
  animation-name: hovering;
  animation-duration: 2.5s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

@mixin transition-fix {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  rotate: 0.0001deg;
}

@mixin red-bottles {
  @include container-wide;

  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-bottom: 13vh;

  padding: 0;

  @media (min-width: $breakpoint-small) {
    padding: 0 calc(#{$column-width-medium} * 0.5);
  }
  @media (min-width: $breakpoint-medium) {
    // padding: 0 calc(#{$column-width});
    padding: 0 calc(#{$column-width} * 0.75);
  }
}

@mixin classic-bottles-1 {
  // first row bottles
  @for $i from 1 through 8 {
    &-#{$i} {
      left: calc(#{$column-width-small} * (#{$i} * 0.5 - 0.5));
      bottom: #{(55 + ($i - 1) * 10)}vh;

      animation-duration: random() + 3 + s;
      animation-delay: random() + s;

      @media (min-width: $breakpoint-small) {
        left: calc(#{$column-width-medium} * 1.1 * (#{$i} - 0.7));
        bottom: #{(60 + ($i - 1) * 5)}vh;
      }
      @media (min-width: $breakpoint-medium) {
        left: calc(#{$column-width} * 1.1 * (#{$i} - 1));
        bottom: #{(10 + ($i - 1) * 20)}vh;
      }
    }
  }
}
@mixin classic-bottles-2 {
  // second row bottles

  @for $i from 1 through 8 {
    &-#{$i} {
      right: calc(#{$column-width-small} * (#{$i} * 0.5 - 0.4));
      top: #{(45 + ($i - 1) * 10)}vh;

      animation-duration: random() + 2 + s;
      animation-delay: random() + s;

      @media (min-width: $breakpoint-small) {
        right: calc(#{$column-width-medium} * 1.1 * (#{$i} - 1 + 0.3));
        top: #{(55 + ($i - 1) * 5)}vh;
      }
      @media (min-width: $breakpoint-medium) {
        right: calc(#{$column-width} * (#{$i} - 1));
        top: #{(10 + ($i - 1) * 20)}vh;
      }
    }
  }
}
