@mixin font-h1 {
  $fhd-base-size: 5 * $base-font-size;
  $tablet-min-size: $fhd-base-size * 0.6;
  $tablet-base-size: $fhd-base-size * 0.8;
  $desktop-min-size: $fhd-base-size * 0.6;

  font-size: 3.2rem;
  line-height: 1.12;
  font-weight: 600;
  letter-spacing: -0.02em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-min-size,
      $tablet-base-size,
      $breakpoint-small,
      $breakpoint-medium-max,
      'w'
    );

  }
  @media (min-width: $breakpoint-medium) {
      font-size: responsive-value(
      $desktop-min-size,
      $fhd-base-size,
      $breakpoint-medium,
      $fhd-width,
      'w'
    );
  }
}

@mixin font-h2 {
  $fhd-base-size: 3.4 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.82;
  $desktop-min-size: $fhd-base-size * 0.6;

  font-size: 2.2rem;
  line-height: 1.18;
  font-weight: 600;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );

  }
    @media (min-width: $breakpoint-medium) {
      font-size: responsive-value(
      $desktop-min-size,
      $fhd-base-size,
      $breakpoint-medium,
      $fhd-width,
      'w'
    );
  }
}

@mixin font-h3 {
  $fhd-base-size: 2.3 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.7;

  font-size: 1.7rem;
  line-height: 1.48;
  font-weight: 600;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
    // font-size: calc(
    //   #{responsive-value(
    //       $tablet-base-size / 2,
    //       $fhd-base-size / 2,
    //       $breakpoint-small,
    //       $fhd-width,
    //       'w'
    //     )} + #{responsive-value(
    //       $tablet-base-size / 2,
    //       $fhd-base-size / 2,
    //       $mobile-min-height,
    //       $fhd-height,
    //       'h'
    //     )}
    // );
  }
}

@mixin font-lead {
  $fhd-base-size: 2.3 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.6;

  font-size: 1.7rem;
  line-height: 1.48;
  font-weight: 500;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
    // font-size: calc(
    //   #{responsive-value(
    //       $tablet-base-size / 2,
    //       $fhd-base-size / 2,
    //       $breakpoint-small,
    //       $fhd-width,
    //       'w'
    //     )} + #{responsive-value(
    //       $tablet-base-size / 2,
    //       $fhd-base-size / 2,
    //       $mobile-min-height,
    //       $fhd-height,
    //       'h'
    //     )}
    // );
  }
}

@mixin font-body {
  $fhd-base-size: 1.9 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.7;

  font-size: 1.4rem;
  line-height: 1.68;
  font-weight: 500;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
    // font-size: calc(
    //   #{responsive-value(
    //       $tablet-base-size / 2,
    //       $fhd-base-size / 2,
    //       $breakpoint-small,
    //       $fhd-width,
    //       'w'
    //     )} + #{responsive-value(
    //       $tablet-base-size / 2,
    //       $fhd-base-size / 2,
    //       $mobile-min-height,
    //       $fhd-height,
    //       'h'
    //     )}
    // );
  }
}

@mixin font-base {
  $fhd-base-size: 1.9 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.7;

  font-size: 1.6rem;
  line-height: 1.68;
  font-weight: 500;
  letter-spacing: 0.01em;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
    // font-size: calc(
    //   #{responsive-value(
    //       $tablet-base-size / 2,
    //       $fhd-base-size / 2,
    //       $breakpoint-small,
    //       $fhd-width,
    //       'w'
    //     )} + #{responsive-value(
    //       $tablet-base-size / 2,
    //       $fhd-base-size / 2,
    //       $mobile-min-height,
    //       $fhd-height,
    //       'h'
    //     )}
    // );
  }
}

@mixin font-small {
  $fhd-base-size: 1.6 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.8;

  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0;

  @media (min-width: $breakpoint-small) {
    font-size: responsive-value(
      $tablet-base-size,
      $fhd-base-size,
      $breakpoint-small,
      $fhd-width,
      'w'
    );
  }
}

@mixin font-button {
  $fhd-base-size: 1.6 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.8;

  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.01;

  @media (min-width: $breakpoint-medium) {
      font-size: calc(
      #{responsive-value(
          $tablet-base-size,
          $fhd-base-size,
          $breakpoint-medium,
          $fhd-width,
          'w'
        )}
    );
  }

}

@mixin font-menu {
  $fhd-base-size: 1.4 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.8;

  font-size: 1.4rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: $color-white;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: $color-white;
  }

  @media (min-width: $breakpoint-small) {
    font-size: calc(
      #{responsive-value(
          $tablet-base-size,
          $fhd-base-size,
          $breakpoint-small,
          $fhd-width,
          'w'
        )}
    );
  }
}
@mixin font-menu-2 {
  $fhd-base-size: 1.4 * $base-font-size;
  $tablet-base-size: $fhd-base-size * 0.6;

  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;
  color: $color-white;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    color: $color-white;
  }

  @media (min-width: $breakpoint-small) {
    font-size: calc(
      #{responsive-value(
          $tablet-base-size,
          $fhd-base-size,
          $breakpoint-small,
          $fhd-width,
          'w'
        )}
    );
  }
}
//

@mixin block-margins {
  margin-left: $container-margin;
  margin-right: $right-margin;
}
@mixin block-paddings {
  padding-left: $container-margin;
  padding-right: $right-margin;
}

@mixin product-section-gray {
  background: $gradient-1;
  margin-left: calc(#{$column-margin} * -1);
  margin-right: -#{$right-margin};

  padding: $product-section-gray-top $right-margin $product-section-gray-bottom
    $column-margin;
}

@mixin menu-item-arrow {
  $arrow-margin: responsive-value(
            8px,
            16px,
            $mobile-min-width,
            $fhd-width
          );
  text-decoration: none;
  display: inline-flex;
  align-items: flex-start;
  margin-left: calc(-1 * (#{$arrow-size} + #{$arrow-margin});
  // white-space: nowrap;

  & svg {
    flex: 0 0 auto;
    width: $arrow-size;
    height: $arrow-size;
    margin-right: $arrow-margin;
    margin-top: percent-view(5px);
    opacity: 0;
    transition: all var(--transition);
  }
}
