:root {
  --margin: 16px; //small
  --margin-m: 24px;
  --margin-2: calc(var(--margin) * 2);
  --margin-3: calc(var(--margin) * 3);
  --margin-15: calc(var(--margin) * 1.5);

  --color-black: #000;
  --color-white: #fff;

  --color-muted: rgba(0, 0, 0, 0.6);
  --color-header: #9d9e9f;

  --color-accent: #0074d3;
  --color-accent-light: #94c2e9;

  --color-dark: #323334; // dark-gray bg. header
  --color-light: #f6f7f8; // light-gray bg
  --color-border: #cbcbcb;

  --radius: 3px;

  --box-shadow: 0 10px 40px rgba(0, 80, 146, 0.2);
  --transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

$font-family: 'Montserrat', sans-serif;

$color-white: #fff;
$color-black: #272730;
$color-gray: #2b2e3f;
$color-red: #ff0000;
$color-gray-2: #464650;

$color-light-gray: #f3f1f1;
$color-gradient-1: #dbe1e8;
$color-gradient-2: #b48396;

$gradient-1: linear-gradient(
  -30deg,
  rgba($color-gradient-1, 1 * 0.2) 0%,
  rgba($color-gradient-2, 0.53 * 0.2) 100%
);
$gradient-2: linear-gradient(
  -90deg,
  rgba($color-gradient-1, 1 * 0.2) 0%,
  rgba($color-gradient-2, 0.53 * 0.2) 100%
);

$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
);
$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px,
);

$base-font-size: 10px; //1 rem

// $screen-sm-min: 576px;
// $screen-md-min: 768px;
// $screen-lg-min: 992px;
// $screen-xl-min: 1200px;

$breakpoint-small: 640px !default;
$breakpoint-medium: 1024px !default;
$breakpoint-large: 1200px !default;
$breakpoint-xlarge: 1600px !default;

$tablet-width: 768px; // used for tablet columns
$mobile-min-width: 375px;
$mobile-min-height: 667px;

$fhd-width: 1920px;
$fhd-height: 992px;

$header-height: 72px;
$header-height-small: 82px;

$right-margin-px: 136px; // container margin + column margin
$right-margin-px-medium: 88px;

$column-margin-px-small: 25px;
$column-margin-px: 56px;

$column-width: percent-view(220px, $fhd-width, 'w'); // 8 columns
$column-width-medium: percent-view(112px, $tablet-width); // 6 columns
$column-width-small: percent-view(106px, $mobile-min-width, 'w'); // 3 columns

// $container-margin: percent-view(80px, $fhd-width, 'w');
$container-margin: percent-view(80px, $fhd-width, 'w');
$container-margin-medium: 48px;
$container-margin-small: 24px;

$right-margin: percent-view($right-margin-px, $fhd-width, 'w');
// $right-addon: responsive-value(
//   0px,
//   $column-margin-px,
//   $breakpoint-small,
//   $fhd-width,
//   'w'
// );
// $right-margin: calc(#{$container-margin} + #{$right-addon});

$column-margin: responsive-value(
  $column-margin-px-small,
  $column-margin-px,
  $mobile-min-width,
  $fhd-width,
  'w'
);
// $column-margin: percent-view($column-margin-px, $fhd-width, 'w');

$product-image-height: 525px;

$section-top-margin-s: 60px;
$product-section-gray-top: responsive-value(
  60px,
  94px,
  $mobile-min-width,
  $fhd-width,
  'w'
);
$product-section-gray-bottom: responsive-value(
  65px,
  55px,
  $mobile-min-width,
  $fhd-width,
  'w'
);
//  : 133%;

$slide-arrow-height: 24px;
$slide-arrow-width: calc(#{$slide-arrow-height} * 2);

$arrow-size: 19px;
